<a href="https://colab.research.google.com/github/teethavattcp/teethavat_data_sci_port/blob/main/Projects/01_PM_2.5_Forecasting_with_LSTM_RNN/PM2.5_Forecasting_BKK_01_extract_data.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import pandas as pd

In [ ]:
!pip install pandasql

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: pandasql in /usr/local/lib/python3.7/dist-packages (0.7.3)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.4.41)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.3.5)
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (from pandasql) (1.21.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.7/dist-packages (from pandas->pandasql) (2022.2.1)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas->pandasql) (1.15.0)
Requirement already satisfied: importlib-metadata in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (4.12.0)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.7/dist-packages (from sqlalchemy->pandasql) (1.1.3)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (3.8.1)
Requirement already satisfied: typing-extensions>=3.6.4 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata->sqlalchemy->pandasql) (4.1.1)

In [ ]:
import pandasql

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

# Clean data

## Explore data

In [ ]:
df_train_pm25 = pd.read_csv('/content/drive/MyDrive/DATA_SCI_SKILL/DATA SCI ENG/Final_Proj_1/datasci_dataset_2022/BKK/train/bkk_train.csv',sep=',')
df_test_pm25 = pd.read_csv('/content/drive/MyDrive/DATA_SCI_SKILL/DATA SCI ENG/Final_Proj_1/datasci_dataset_2022/BKK/test/bkk_test.csv',sep=',')

In [ ]:
df_train_pm25.head()

            Unnamed: 0  PM2.5
0  2017-07-01 00:00:00   14.0
1  2017-07-01 01:00:00   10.0
2  2017-07-01 02:00:00   17.0
3  2017-07-01 03:00:00   20.0
4  2017-07-01 04:00:00   15.0

In [ ]:
print('#train data =',df_train_pm25.shape[0])
print('#test data =',df_test_pm25.shape[0])

#train data = 26304
#test data = 8784

In [ ]:
df_train_pm25.isnull().sum()

Unnamed: 0      0
PM2.5         176
dtype: int64

In [ ]:
df_test_pm25.isnull().sum()

Unnamed: 0      0
PM2.5         970
dtype: int64

## Set time index

In [ ]:
def set_time_index(df):
  df.columns = ['Time','PM2.5(µg/m3)']
  df['Time'] = pd.to_datetime(df['Time'])
  df = df.set_index('Time')
  return df

In [ ]:
df_train_pm25 = set_time_index(df_train_pm25)
df_train_pm25

                     PM2.5(µg/m3)
Time
2017-07-01 00:00:00          14.0
2017-07-01 01:00:00          10.0
2017-07-01 02:00:00          17.0
2017-07-01 03:00:00          20.0
2017-07-01 04:00:00          15.0
...                           ...
2020-06-30 19:00:00          15.0
2020-06-30 20:00:00          14.0
2020-06-30 21:00:00          17.0
2020-06-30 22:00:00           5.0
2020-06-30 23:00:00           7.0

[26304 rows x 1 columns]

In [ ]:
df_test_pm25 = set_time_index(df_test_pm25)
df_test_pm25

                     PM2.5(µg/m3)
Time
2020-07-01 00:00:00           9.0
2020-07-01 01:00:00           8.0
2020-07-01 02:00:00          12.0
2020-07-01 03:00:00           9.0
2020-07-01 04:00:00           8.0
...                           ...
2021-07-01 19:00:00          13.0
2021-07-01 20:00:00          14.0
2021-07-01 21:00:00          14.0
2021-07-01 22:00:00          14.0
2021-07-01 23:00:00          14.0

[8784 rows x 1 columns]

## Handling missing values

In [ ]:
df_train_pm25['PM2.5(µg/m3)'].interpolate(method='time', limit_direction = 'both',inplace = True)
df_train_pm25.head()

                     PM2.5(µg/m3)
Time
2017-07-01 00:00:00          14.0
2017-07-01 01:00:00          10.0
2017-07-01 02:00:00          17.0
2017-07-01 03:00:00          20.0
2017-07-01 04:00:00          15.0

In [ ]:
df_test_pm25['PM2.5(µg/m3)'].interpolate(method='time', limit_direction = 'both',inplace = True)
df_test_pm25.head()

                     PM2.5(µg/m3)
Time
2020-07-01 00:00:00           9.0
2020-07-01 01:00:00           8.0
2020-07-01 02:00:00          12.0
2020-07-01 03:00:00           9.0
2020-07-01 04:00:00           8.0

In [ ]:
df_train_pm25.isnull().sum()

PM2.5(µg/m3)    0
dtype: int64

In [ ]:
df_test_pm25.isnull().sum()

PM2.5(µg/m3)    0
dtype: int64

## Filter time

From the limitation of extracting exogeneous data only being record for every 3 hours, time stamp need to be filtered.

In [ ]:
time_filter = {1:'18', 4:'21', 7:'00',10:'03',
               13:'06', 16:'09', 19:'12', 22:'15'}
#{key = local time, value = hh index in url [UTC time]}

In [ ]:
list(time_filter.keys())

[1, 4, 7, 10, 13, 16, 19, 22]

In [ ]:
df = df_train_pm25.copy()
df.head()

                     PM2.5(µg/m3)
Time
2017-07-01 00:00:00          14.0
2017-07-01 01:00:00          10.0
2017-07-01 02:00:00          17.0
2017-07-01 03:00:00          20.0
2017-07-01 04:00:00          15.0

In [ ]:
def filter_time(df):
  df["hour"] = df.index.hour
  df = pd.concat([
    df.loc[df["hour"].isin(x)]
    for x in [list(time_filter.keys())]])
  df.drop(columns= ['hour'],inplace=True)
  return df

In [ ]:
df_train_pm25 = filter_time(df_train_pm25)
df_train_pm25

                     PM2.5(µg/m3)
Time
2017-07-01 01:00:00          10.0
2017-07-01 04:00:00          15.0
2017-07-01 07:00:00          23.0
2017-07-01 10:00:00          22.0
2017-07-01 13:00:00          14.0
...                           ...
2020-06-30 10:00:00          14.0
2020-06-30 13:00:00          12.0
2020-06-30 16:00:00           9.0
2020-06-30 19:00:00          15.0
2020-06-30 22:00:00           5.0

[8768 rows x 1 columns]

In [ ]:
df_test_pm25 = filter_time(df_test_pm25)
df_test_pm25

                     PM2.5(µg/m3)
Time
2020-07-01 01:00:00           8.0
2020-07-01 04:00:00           8.0
2020-07-01 07:00:00          13.0
2020-07-01 10:00:00          10.0
2020-07-01 13:00:00          15.0
...                           ...
2021-07-01 10:00:00          14.0
2021-07-01 13:00:00          14.0
2021-07-01 16:00:00          14.0
2021-07-01 19:00:00          13.0
2021-07-01 22:00:00          14.0

[2928 rows x 1 columns]

## Change timestamp from local to UTC

Website url use UTC time as index

In [ ]:
def local_id_to_utc_id(df):
  df_ = df.copy()
  df_['Time_utc'] = df_.index.tz_localize("Asia/Bangkok").tz_convert("UTC")
  df_['Time_utc'] = df_['Time_utc'].dt.tz_localize(None)
  df_ = df_.set_index('Time_utc')
  return df_

In [ ]:
df_train_pm25_utc = local_id_to_utc_id(df_train_pm25)
df_train_pm25_utc

                     PM2.5(µg/m3)
Time_utc
2017-06-30 18:00:00          10.0
2017-06-30 21:00:00          15.0
2017-07-01 00:00:00          23.0
2017-07-01 03:00:00          22.0
2017-07-01 06:00:00          14.0
...                           ...
2020-06-30 03:00:00          14.0
2020-06-30 06:00:00          12.0
2020-06-30 09:00:00           9.0
2020-06-30 12:00:00          15.0
2020-06-30 15:00:00           5.0

[8768 rows x 1 columns]

In [ ]:
df_test_pm25_utc = local_id_to_utc_id(df_test_pm25)
df_test_pm25_utc

                     PM2.5(µg/m3)
Time_utc
2020-06-30 18:00:00           8.0
2020-06-30 21:00:00           8.0
2020-07-01 00:00:00          13.0
2020-07-01 03:00:00          10.0
2020-07-01 06:00:00          15.0
...                           ...
2021-07-01 03:00:00          14.0
2021-07-01 06:00:00          14.0
2021-07-01 09:00:00          14.0
2021-07-01 12:00:00          13.0
2021-07-01 15:00:00          14.0

[2928 rows x 1 columns]

# Extract missing exogeneous data

## Get coordinations of BKK from position.txt

In [ ]:
lat_long = ()
infile = open('/content/drive/MyDrive/DATA_SCI_SKILL/DATA SCI ENG/Final_Proj_1/datasci_dataset_2022/BKK/position.txt','r')
for line in infile:
  lat_long += (float(line.strip()[int(line.find('='))+1:]),)
infile.close()
print('BKK coordinate =', lat_long)

BKK coordinate = (13.729984, 100.536443)

In [ ]:
long = str(round(lat_long[1],3))
lat = str(round(lat_long[0],3))+'0'
print(lat,long)

13.730 100.536

## Scrap data from https://earth.nullschool.net/

### Import required libraries for data extraction

In [ ]:
!pip install -U selenium

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: selenium in /usr/local/lib/python3.7/dist-packages (4.5.0)
Requirement already satisfied: trio-websocket~=0.9 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.9.2)
Requirement already satisfied: certifi>=2021.10.8 in /usr/local/lib/python3.7/dist-packages (from selenium) (2022.6.15)
Requirement already satisfied: urllib3[socks]~=1.26 in /usr/local/lib/python3.7/dist-packages (from selenium) (1.26.12)
Requirement already satisfied: trio~=0.17 in /usr/local/lib/python3.7/dist-packages (from selenium) (0.22.0)
Requirement already satisfied: attrs>=19.2.0 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (22.1.0)
Requirement already satisfied: outcome in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.2.0)
Requirement already satisfied: async-generator>=1.9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.10)
Requirement already satisfied: exceptiongroup>=1.0.0rc9 in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.0.0rc9)
Requirement already satisfied: sniffio in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (1.3.0)
Requirement already satisfied: sortedcontainers in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.4.0)
Requirement already satisfied: idna in /usr/local/lib/python3.7/dist-packages (from trio~=0.17->selenium) (2.10)
Requirement already satisfied: wsproto>=0.14 in /usr/local/lib/python3.7/dist-packages (from trio-websocket~=0.9->selenium) (1.2.0)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in /usr/local/lib/python3.7/dist-packages (from urllib3[socks]~=1.26->selenium) (1.7.1)
Requirement already satisfied: h11<1,>=0.9.0 in /usr/local/lib/python3.7/dist-packages (from wsproto>=0.14->trio-websocket~=0.9->selenium) (0.14.0)
Requirement already satisfied: typing-extensions in /usr/local/lib/python3.7/dist-packages (from h11<1,>=0.9.0->wsproto>=0.14->trio-websocket~=0.9->selenium) (4.1.1)

In [ ]:
!pip install webdriver-manager

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: webdriver-manager in /usr/local/lib/python3.7/dist-packages (3.8.3)
Requirement already satisfied: requests in /usr/local/lib/python3.7/dist-packages (from webdriver-manager) (2.23.0)
Requirement already satisfied: python-dotenv in /usr/local/lib/python3.7/dist-packages (from webdriver-manager) (0.21.0)
Requirement already satisfied: tqdm in /usr/local/lib/python3.7/dist-packages (from webdriver-manager) (4.64.1)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver-manager) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver-manager) (2022.6.15)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests->webdriver-manager) (2.10)
Collecting urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1
  Using cached urllib3-1.25.11-py2.py3-none-any.whl (127 kB)
Installing collected packages: urllib3
  Attempting uninstall: urllib3
    Found existing installation: urllib3 1.26.12
    Uninstalling urllib3-1.26.12:
      Successfully uninstalled urllib3-1.26.12
ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
selenium 4.5.0 requires urllib3[socks]~=1.26, but you have urllib3 1.25.11 which is incompatible.
Successfully installed urllib3-1.25.11

In [ ]:
!pip install kora -q

In [ ]:
from kora.selenium import wd as driver

In [ ]:
from selenium.webdriver.common.by import By
ID = "id"
NAME = "name"
XPATH = "xpath"
LINK_TEXT = "link text"
PARTIAL_LINK_TEXT = "partial link text"
TAG_NAME = "tag name"
CLASS_NAME = "class name"
CSS_SELECTOR = "css selector"

In [ ]:
import time

### Get exogeneous data

Previous studies (H. Zhang et al., 2015; Pearce et al., 2011; Yadav et al., 2014) revealed that such meteorological factors as relative humidity, temperature, wind speed, and wind direction might be related to PM2.5 concentrations.

Mode: Wind 850

```
https://earth.nullschool.net/#2022/09/26/0600Z/wind/isobaric/850hPa/orthographic=-257.89,7.85,1631/loc=100.536,13.730
```


Mode: Temp @surface
```
https://earth.nullschool.net/#2022/09/26/0600Z/wind/surface/level/overlay=temp/orthographic=-257.89,7.85,1631/loc=100.536,13.730
```

Mode: RH
```
https://earth.nullschool.net/#2022/09/26/0600Z/wind/surface/level/overlay=relative_humidity/orthographic=-257.89,7.85,1631/loc=100.536,13.730
```

Website format:

```
https://earth.nullschool.net/#yyyy/mm/dd/hh.../loc=long,lat
```

Variable:
```
yyyy = year in C.E.
mm = month
dd = day
long = longitude
lat = latitude

```

In [ ]:
print('lat =', lat, ', long =', long)

lat = 13.730 , long = 100.536

for loop scrap data by (coordinate)--->date--->mode: 

edit website link by date + mode,

In [ ]:
df = df_train_pm25_utc.copy()

In [ ]:

yyyy_mm_dd = list(df.index.strftime("%Y/%m/%d").drop_duplicates())
print('yyyy_mm_dd = [')
for i in range(3):
  print(yyyy_mm_dd[i],',')
print('...]')
print('#element =', len(yyyy_mm_dd))

yyyy_mm_dd = [
2017/06/30 ,
2017/07/01 ,
2017/07/02 ,
...]
#element = 1097

#### Define scraping function

Given that there were data of temperature, wind direction and wind speed for train set but none for test set.

!!! Don't forget to delay time in for-loop of filling extracted data thanks to problem of website unloading just in time

In [ ]:
#earth_bt = driver.find_element(By.CSS_SELECTOR, 'div.earth-bar > div > h1 > button')
def if_click_earth_bt():
  #if the menu was hidden then click earth button o/w do nothing
  global earth_bt
  earth_bt = driver.find_element(By.CSS_SELECTOR, 'div.earth-bar > div > h1 > button')
  if driver.find_element(By.ID,"menu").get_attribute('hidden') == 'true':
        earth_bt.click()

In [ ]:
#navi_bt = driver.find_element(By.XPATH, '//*[@id="menu"]/div/div[5]/div[3]/div[2]/button[4]')
def if_click_navi_bt():
    #if the spot was hidden then click navi button o/w do nothing
    global navi_bt
    navi_bt = driver.find_element(By.XPATH, '//*[@id="menu"]/div/div[5]/div[3]/div[2]/button[4]')
    if driver.find_element(By.ID,"spotlight-panel").get_attribute('hidden') == 'true':
        navi_bt.click()

In [ ]:
sorted(list(time_filter.values()))

['00', '03', '06', '09', '12', '15', '18', '21']

In [ ]:
def scrape_exo(df):
  yyyy_mm_dd = list(df.index.strftime("%Y/%m/%d").drop_duplicates())
  list_wind_dir = []
  list_wind_speed = []
  list_temp = []
  list_rh = []
  time_delay = 0.55 #sec
  list_time_stamp_utc = []
  for i in range(len(yyyy_mm_dd)):
    for hh in sorted(list(time_filter.values())):
      date_utc = yyyy_mm_dd[i] + ' ' + hh + ":00:00"
      list_time_stamp_utc.append(date_utc)

      #wind at height 850 hPa
      url_wind = 'https://earth.nullschool.net/#'+yyyy_mm_dd[i]+'/' +hh+'00Z/wind/isobaric/850hPa/orthographic=-257.89,7.85,1631/loc='+long+','+lat
      driver.get(url=url_wind)
      time.sleep(time_delay)
      if_click_earth_bt()
      time.sleep(time_delay)
      if_click_navi_bt()
      time.sleep(time_delay)
      extract_wind = driver.find_element(By.XPATH,'//*[@id="spotlight-panel"]/div[2]/div').text
      wind_dir = extract_wind[:extract_wind.find('°')].strip()
      wind_speed = extract_wind[extract_wind.find('@')+1:].strip()
      list_wind_dir.append(wind_dir)
      list_wind_speed.append(wind_speed)


      #temp at surface
      url_temp = 'https://earth.nullschool.net/#'+yyyy_mm_dd[i]+'/' +hh+'00Z/wind/surface/level/overlay=temp/orthographic=-257.89,7.85,1631/loc='+long+','+lat
      driver.get(url=url_temp)
      time.sleep(time_delay)
      if_click_earth_bt()
      time.sleep(time_delay)
      if_click_navi_bt()
      time.sleep(time_delay)
      temp = driver.find_element(By.XPATH,'//*[@id="spotlight-panel"]/div[3]/div').text.strip()
      list_temp.append(temp)

      #relative humidity at surface
      url_rh = 'https://earth.nullschool.net/#'+yyyy_mm_dd[i]+'/' +hh+'00Z/wind/surface/level/overlay=relative_humidity/orthographic=-257.89,7.85,1631/loc='+long+','+lat
      driver.get(url=url_rh)
      time.sleep(time_delay)
      if_click_earth_bt()
      time.sleep(time_delay)
      if_click_navi_bt()
      time.sleep(time_delay)
      rh = driver.find_element(By.XPATH,'//*[@id="spotlight-panel"]/div[3]/div').text.strip()
      list_rh.append(rh)
  
  data_exo ={
    'Time (UTC)': list_time_stamp_utc,
    'Wind Speed (km/h)': list_wind_speed,
    'Wind Direction (°)': list_wind_dir,
    'Surface Temperature (°C)': list_temp,
    'Surface Relative Humidity (%)': list_rh
    }

  df_exo = pd.DataFrame(data_exo)
  return df_exo

In [ ]:
def scrape_exo_train(df):
  yyyy_mm_dd = list(df.index.strftime("%Y/%m/%d").drop_duplicates())
  list_rh = []
  time_delay = 0.5 #sec
  list_time_stamp_utc = []
  for i in range(len(yyyy_mm_dd)):
    for hh in sorted(list(time_filter.values())):
      date_utc = yyyy_mm_dd[i] + ' ' + hh + ":00:00"
      list_time_stamp_utc.append(date_utc)

      #relative humidity at surface
      url_rh = 'https://earth.nullschool.net/#'+yyyy_mm_dd[i]+'/' +hh+'00Z/wind/surface/level/overlay=relative_humidity/orthographic=-257.89,7.85,1631/loc='+long+','+lat
      driver.get(url=url_rh)
      time.sleep(time_delay)
      if_click_earth_bt()
      time.sleep(time_delay)
      if_click_navi_bt()
      time.sleep(time_delay)
      rh = driver.find_element(By.XPATH,'//*[@id="spotlight-panel"]/div[3]/div').text.strip()
      list_rh.append(rh)
  
  data_exo ={
      'Time (UTC)': list_time_stamp_utc,
      'Surface Relative Humidity (%)': list_rh
    }

  df_exo = pd.DataFrame(data_exo)
  return df_exo

#### Extract data in train and test set

In [ ]:
df_exo_test = scrape_exo(df_test_pm25_utc) #.iloc[:50]

In [ ]:
df_exo_test

,Time (UTC),Wind Speed (km/h),Wind Direction (°),Surface Temperature (°C),Surface Relative Humidity (%)
0,2020/06/30 00:00:00,22,255,28.5,71
1,2020/06/30 03:00:00,24,250,30.8,61
2,2020/06/30 06:00:00,23,250,32.0,60
3,2020/06/30 09:00:00,37,255,32.1,61
4,2020/06/30 12:00:00,36,265,30.3,69
...,...,...,...,...,...
2931,2021/07/01 09:00:00,19,240,32.5,52
2932,2021/07/01 12:00:00,18,250,29.1,70
2933,2021/07/01 15:00:00,16,245,29.1,71
2934,2021/07/01 18:00:00,17,260,28.6,73
2935,2021/07/01 21:00:00,21,265,27.3,77

In [ ]:
df_exo_test.isnull().sum()

Time (UTC)                       0
Wind Speed (km/h)                0
Wind Direction (°)               0
Surface Temperature (°C)         0
Surface Relative Humidity (%)    0
dtype: int64

In [ ]:
df_exo_train = scrape_exo_train(df_train_pm25_utc) #.iloc[:50]

In [ ]:
df_exo_train

               Time (UTC) Surface Relative Humidity (%)
0     2017/06/30 00:00:00                            74
1     2017/06/30 03:00:00                            62
2     2017/06/30 06:00:00                            55
3     2017/06/30 09:00:00                            55
4     2017/06/30 12:00:00                            72
...                   ...                           ...
8771  2020/06/30 09:00:00                            61
8772  2020/06/30 12:00:00                            69
8773  2020/06/30 15:00:00                            69
8774  2020/06/30 18:00:00                            68
8775  2020/06/30 21:00:00                            69

[8776 rows x 2 columns]

In [ ]:
df_exo_train.isnull().sum()

Time (UTC)                       0
Surface Relative Humidity (%)    0
dtype: int64

# Export .csv

In [ ]:
from pathlib import Path

In [ ]:
def export_scrap_to_csv(scrap_file_name,df):
  filepath = Path('/content/drive/MyDrive/DATA_SCI_SKILL/DATA SCI ENG/Final_Proj_1/'+str(scrap_file_name)+'_rescrap_BKK.csv')
  filepath.parent.mkdir(parents=True, exist_ok=True)  
  df.to_csv(filepath)

In [ ]:
def export_pm25_to_csv(pm25_file_name,df):
  filepath = Path('/content/drive/MyDrive/DATA_SCI_SKILL/DATA SCI ENG/Final_Proj_1/'+str(pm25_file_name)+'_pm25_BKK.csv')
  filepath.parent.mkdir(parents=True, exist_ok=True)  
  df.to_csv(filepath)

In [ ]:
export_scrap_to_csv('test_all',df_exo_test)

In [ ]:
export_scrap_to_csv('train_all',df_exo_train)

In [ ]:
export_pm25_to_csv('test',df_test_pm25)

In [ ]:
export_pm25_to_csv('train',df_train_pm25)