<a href="https://colab.research.google.com/github/teethavattcp/teethavat_port_data/blob/main/06_CustomerMovement.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Import libraries

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [ ]:
!pip install pandasql

Collecting pandasql
  Downloading pandasql-0.7.3.tar.gz (26 kB)
  Preparing metadata (setup.py) ... done
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (from pandasql) (1.26.4)
Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.1.4)
Requirement already satisfied: sqlalchemy in /usr/local/lib/python3.10/dist-packages (from pandasql) (2.0.32)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: tzdata>=2022.1 in /usr/local/lib/python3.10/dist-packages (from pandas->pandasql) (2024.1)
Requirement already satisfied: typing-extensions>=4.6.0 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (4.12.2)
Requirement already satisfied: greenlet!=0.4.17 in /usr/local/lib/python3.10/dist-packages (from sqlalchemy->pandasql) (3.0.3)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas->pandasql) (1.16.0)
Building wheels for collected packages: pandasql
  Building wheel for pandasql (setup.py) ... done
  Created wheel for pandasql: filename=pandasql-0.7.3-py3-none-any.whl size=26772 sha256=f9599f808c65210624328ade61d98321a9ef967714b78c34aa5c5f24b90ff31c
  Stored in directory: /root/.cache/pip/wheels/e9/bc/3a/8434bdcccf5779e72894a9b24fecbdcaf97940607eaf4bcdf9
Successfully built pandasql
Installing collected packages: pandasql
Successfully installed pandasql-0.7.3

In [ ]:
import pandasql

In [ ]:
import plotly.express as px

In [ ]:
import plotly.graph_objs as go
import plotly.io as pio

In [ ]:
import datetime as dt
from datetime import datetime

In [ ]:
from pathlib import Path

#Define fn for cleaning raw data

##count_total_duplicates(df)

In [ ]:
def count_total_duplicates(df):
    # Identifying duplicate rows (excluding the first occurrence)
    duplicates = df.duplicated(keep='first')

    # Summing the number of duplicate rows
    total_duplicates = duplicates.sum()

    return total_duplicates

##check_duplication_in_df(df)

In [ ]:
def check_duplication_in_df(df):
  total_duplicates = count_total_duplicates(df)
  if total_duplicates > 0:
    print(f"There are {total_duplicates} duplicate rows in the DataFrame.")
    df.drop_duplicates(inplace=True)
    print("Duplicate rows were dropped.")
    print("New shape of dataframe after dropping duplicate rows:",df.shape)
  elif total_duplicates == 0:
    print("No duplicate rows found.")

## format_number(x)

In [ ]:
def format_number(x):
    if isinstance(x, float):
        if x.is_integer():
            return '{:.0f}'.format(x)  # Convert to integer if it's a whole number
        else:
            return '{:.2f}'.format(x)  # Keep as float with 2 decimal places
    return x

## explore_df(df_for_eda)

In [ ]:
def explore_df(df_for_eda):
  print("#Check shape")
  print(df_for_eda.shape,"\n")

  print("#Check duplication")
  check_duplication_in_df(df_for_eda)

  print("\n#Check missing value")
  if df_for_eda.isnull().sum().sum() == 0:
    print("No missing values found.")
  else:
    print("Missing values found:", df_for_eda.isnull().sum().sum())
    print("\nNumber of missing values:\n",df_for_eda.isnull().sum())
    print("\nPercentage of missing values:\n",df_for_eda.isnull().sum()/len(df_for_eda)*100)

  print("\n#Check data type")
  print(df_for_eda.info(),"\n")

  print("\n#Check unique value")
  print(df_for_eda.nunique(),"\n")

  print("#List of column name:\n",df_for_eda.columns.tolist())

## explore_classes_in_df(df,df_col_cat)

In [ ]:
def explore_classes_in_df(df,df_col_cat):
  for col in df_col_cat:
    print ("\n-------- %s --------" % col)
    print (df[col].value_counts())

In [ ]:
def explore_distribution_in_df(df,df_col_num):
  for col in df_col_num:
    #histogram plot
    #plt.figure(figsize=(2.5, 1.25))
    print ("\n-------- %s --------" % col)

    # Create the histogram plot to calculate the max count
    hist = sns.histplot(df[col])

    # Calculate the maximum count (frequency)
    max_count = hist.patches[0].get_height()  # Initialize with the first bar's height
    for bar in hist.patches:
        if bar.get_height() > max_count:
            max_count = bar.get_height()

    # Clear the current plot to redraw with y-axis limit
    plt.clf()

    # Create the histogram plot again
    sns.histplot(df[col])

    # Set the maximum limit for the y-axis
    plt.ylim(top=1.3 * max_count)

    # Display the plot
    plt.title(f'Histogram of {col}')
    plt.show()

    #box plot
    #plt.figure(figsize=(2.5, 1.25))
    plt.clf()
    sns.boxplot(x=df[col])
    plt.title(f'Box Plot of {col}')
    plt.show()

## deepexploredf(df,df_col_cat, df_col_num)

In [ ]:
import matplotlib.cm as cm

In [ ]:
def deepexploredf(df,df_col_cat, df_col_num):
  print("##Explore categorical data")
  if len(df_col_cat) == 0:
    print("No categorical column found.")
  else:
    explore_classes_in_df(df,df_col_cat)

  print("\n##Explore numerical data")
  if len(df_col_num) == 0:
    print("No numerical data found.")
  else:
    print("#Check statistical summary")
    print(df[df_col_num].describe().applymap(format_number).transpose().to_markdown())
    print("#Check correlation")
    #plt.figure(figsize = (2,1.25))
    #plt.rcParams.update({'font.size': 10})
    sns.heatmap(df[df_col_num].corr(), annot =True, cmap=cm.coolwarm_r, vmin=-1, vmax=1)
    plt.show()
    #sns.pairplot(df[df_col_num])
    #plt.show()

## export_to_csv(path_of_folder,file_name,df)

In [ ]:
def export_to_csv(path_of_folder,file_name,df):
  filepath = Path(str(path_of_folder)+str(file_name)+'.csv')
  filepath.parent.mkdir(parents=True, exist_ok=True)
  df.to_csv(filepath,mode = 'w', index=False)
  print(str(file_name)+'.csv has been exported successfully.')

In [ ]:
path_folder='/content/drive/MyDrive/DATA_SCI_SKILL/202406_CompleteJourneyProj/data set'+'/'

## explore_ranges_of_num_field(df,df_col_num)

In [ ]:
def explore_ranges_of_num_field(df,list_col_num):
  for col in df[list_col_num]:
    count_less_than_0_butsmallamount = len(df[(df[col] < 0) & (df[col] > -0.01)]) #-0.01 < value < 0
    count_less_than_0_butlargeamount = len(df[df[col] <= -0.01]) #-0.01 =< value
    count_equal_to_0 = len(df[df[col] == 0])
    count_greater_than_0_but_smallamount = len(df[(df[col] > 0)& (df[col] < 0.01)])
    count_greater_than_0_but_largeamount = len(df[(df[col] >= 0.01)])
    print(col,':')
    print(f'Count of values << 0: {count_less_than_0_butlargeamount}')
    print(f'Count of -0.01 < values < 0: {count_less_than_0_butsmallamount}')
    print(f'Count of values = 0: {count_equal_to_0}')
    print(f'Count of 0 < values < 0.01: {count_greater_than_0_but_smallamount}')
    print(f'Count of values >> 0: {count_greater_than_0_but_largeamount}')
    print('\n')

## add_status_column(df, left_col, right_col, status_col='status')

Add a status column to the DataFrame based on the comparison of two columns from left and right DataFrames.
```
 Parameters:
    - df (pd.DataFrame): The DataFrame resulting from an outer join.
    - left_col (str): The column name from the left DataFrame.
    - right_col (str): The column name from the right DataFrame.
    - status_col (str): The name of the new status column. Default is 'status'.

 Returns:
    - pd.DataFrame: The DataFrame with the added status column.

```

In [ ]:
def add_status_column(df, left_col, right_col, status_col='status'):
    conditions = [
        (df[left_col].notna()) & (df[right_col].notna()),  # Found value in both tables
        (df[left_col].notna()) & (df[right_col].isna()),   # Found value only in the left table
        (df[left_col].isna()) & (df[right_col].notna())    # Found value only in the right table
    ]

    choices = ['Found in both', 'Found only in left', 'Found only in right']

    df[status_col] = pd.Series(np.select(conditions, choices, default=None))
    return df

## dict_k2v_v2k(input_dict):

In [ ]:
def dict_k2v_v2k(input_dict):
  output_dict = {}

  for data_type, columns in input_dict.items():
    for column in columns:
        output_dict[column] = data_type

  return output_dict

## replace_valueindf(df,col_key_name,col_val_name,dict_kv_replace)

In [ ]:
def replace_valueindf(df,col_key_name,col_val_name,dict_kv_replace):
  if df[col_key_name] in dict_kv_replace.keys():
    df[col_val_name] = dict_kv_replace[df[col_key_name]]
  return df

# Import dataset

Adhoc analysis considered only last date at 30 Nov 2002 (for fair analysis) --> filter out in powerbi

## df_date

In [ ]:
df_date = pd.read_csv('/content/drive/MyDrive/DATA_SCI_SKILL/202406_CompleteJourneyProj/data set/00_dim_date_withforecast.csv', delimiter=",")
#df_date['TRANS_date'] = pd.to_datetime(df_date['TRANS_date'], format='%d %m %Y')
df_date = df_date[['DAY_ID','MONTH_NO','YEAR_MOD']]
#df_date = df_date[df_date['DAY_ID']<=699]
df_date

     DAY_ID  MONTH_NO  YEAR_MOD
0         1         1      2001
1         2         1      2001
2         3         1      2001
3         4         1      2001
4         5         1      2001
..      ...       ...       ...
815     816         3      2003
816     817         3      2003
817     818         3      2003
818     819         3      2003
819     820         3      2003

[820 rows x 3 columns]

## df_fact_trans

In [ ]:
df_fact_trans = pd.read_csv('/content/drive/MyDrive/DATA_SCI_SKILL/202406_CompleteJourneyProj/data set/fact_trans_x_couponredempt.csv')
df_fact_trans = df_fact_trans.rename(columns={'PRODUCT_ID_x': 'PRODUCT_ID'})
df_fact_trans = df_fact_trans[['household_key','DAY','QUANTITY','SALES_VALUE']]
#df_fact_trans = df_fact_trans[df_fact_trans['DAY']<=699]
df_fact_trans

         household_key  DAY  QUANTITY  SALES_VALUE
0                    1   51         1         3.99
1                    1   51         1         2.99
2                    1   51         1         1.09
3                    1   51         1         3.71
4                    1   51         1         2.79
...                ...  ...       ...          ...
2581261           2500  708         1         3.19
2581262           2500  708         1         1.99
2581263           2500  708         1         2.59
2581264           2500  708         1         2.77
2581265           2500  708         1         1.50

[2581266 rows x 4 columns]

# Aggregate data

## df_fact_trans_agg

In [ ]:
df_fact_trans_agg = df_fact_trans.groupby(['household_key','DAY']).agg({'QUANTITY':'sum','SALES_VALUE':'sum'}).reset_index()
df_fact_trans_agg

        household_key  DAY  QUANTITY  SALES_VALUE
0                   1   51        34        78.66
1                   1   67        14        41.10
2                   1   88        13        26.90
3                   1   94        32        63.43
4                   1  101        20        53.45
...               ...  ...       ...          ...
225339           2500  695        34        57.68
225340           2500  698        12        50.54
225341           2500  704        31        73.65
225342           2500  706         6        13.95
225343           2500  708        25        45.12

[225344 rows x 4 columns]

In [ ]:
df_fact_trans_agg_month_yr = df_fact_trans_agg.merge(df_date, left_on='DAY', right_on='DAY_ID', how='left')
df_fact_trans_agg_month_yr = df_fact_trans_agg_month_yr.groupby(['household_key','MONTH_NO','YEAR_MOD']).agg({'QUANTITY':'sum','SALES_VALUE':'sum'}).reset_index()
df_fact_trans_agg_month_yr['key_hh_month_yr'] = df_fact_trans_agg_month_yr['household_key'].astype(str) + '_' + df_fact_trans_agg_month_yr['MONTH_NO'].astype(str) + '_' + df_fact_trans_agg_month_yr['YEAR_MOD'].astype(str)
df_fact_trans_agg_month_yr

,household_key,MONTH_NO,YEAR_MOD,QUANTITY,SALES_VALUE,key_hh_month_yr
0,1,1,2002,43,98.70,1_1_2002
1,1,2,2001,34,78.66,1_2_2001
2,1,2,2002,136,260.22,1_2_2002
3,1,3,2001,27,68.00,1_3_2001
4,1,3,2002,111,256.99,1_3_2002
...,...,...,...,...,...,...
45252,2500,10,2002,21121,320.05,2500_10_2002
45253,2500,11,2001,94,283.79,2500_11_2001
45254,2500,11,2002,139,416.28,2500_11_2002
45255,2500,12,2001,128,264.37,2500_12_2001
45256,2500,12,2002,62,132.72,2500_12_2002

In [ ]:
df_fact_trans_agg_month_yr = df_fact_trans_agg_month_yr.groupby(['household_key','MONTH_NO','YEAR_MOD','key_hh_month_yr']).agg({'QUANTITY':'sum','SALES_VALUE':'sum'}).reset_index()
df_fact_trans_agg_month_yr

,household_key,MONTH_NO,YEAR_MOD,key_hh_month_yr,QUANTITY,SALES_VALUE
0,1,1,2002,1_1_2002,43,98.70
1,1,2,2001,1_2_2001,34,78.66
2,1,2,2002,1_2_2002,136,260.22
3,1,3,2001,1_3_2001,27,68.00
4,1,3,2002,1_3_2002,111,256.99
...,...,...,...,...,...,...
45252,2500,10,2002,2500_10_2002,21121,320.05
45253,2500,11,2001,2500_11_2001,94,283.79
45254,2500,11,2002,2500_11_2002,139,416.28
45255,2500,12,2001,2500_12_2001,128,264.37
45256,2500,12,2002,2500_12_2002,62,132.72

In [ ]:
df_fact_trans_agg_month_yr.describe()

       household_key      MONTH_NO      YEAR_MOD       QUANTITY   SALES_VALUE
count   45257.000000  45257.000000  45257.000000   45257.000000  45257.000000
mean     1248.362286      6.764677   2001.531166    5760.117153    178.037515
std       722.916253      3.291519      0.499033   15303.255364    191.437345
min         1.000000      1.000000   2001.000000       1.000000      0.000000
25%       626.000000      4.000000   2001.000000      22.000000     45.190000
50%      1244.000000      7.000000   2002.000000      63.000000    115.580000
75%      1878.000000     10.000000   2002.000000     225.000000    246.530000
max      2500.000000     12.000000   2002.000000  303045.000000   2598.270000

### Fill 0 for missing month transaction

In [ ]:
#df_master_mm_yy = df_date[['MONTH_NO','YEAR_MOD']].drop_duplicates().reset_index(drop=True)
#df_master_mm_yy

In [ ]:
#df_master_hh = df_fact_trans[['household_key']].drop_duplicates().reset_index(drop=True)
#df_master_hh

In [ ]:
#df_master_hh_mm_yy = df_master_hh.merge(df_master_mm_yy, how='cross')
#df_master_hh_mm_yy['key_hh_month_yr'] = df_master_hh_mm_yy['household_key'].astype(str) + '_' + df_master_hh_mm_yy['MONTH_NO'].astype(str) + '_' + df_master_hh_mm_yy['YEAR_MOD'].astype(str)
#df_master_hh_mm_yy

In [ ]:
#df_fact_trans_agg_month_yr = df_fact_trans_agg_month_yr.merge(df_master_hh_mm_yy, left_on=['key_hh_month_yr'], right_on=['key_hh_month_yr'], how='right')

In [ ]:
#df_fact_trans_agg_month_yr = df_fact_trans_agg_month_yr[['household_key_y', 'MONTH_NO_y','YEAR_MOD_y','QUANTITY', 'SALES_VALUE']]
#df_fact_trans_agg_month_yr = df_fact_trans_agg_month_yr.rename(columns={'household_key_y':'household_key','MONTH_NO_y':'MONTH_NO','YEAR_MOD_y':'YEAR_MOD'})
#df_fact_trans_agg_month_yr['QUANTITY'] = df_fact_trans_agg_month_yr['QUANTITY'].fillna(0)
#df_fact_trans_agg_month_yr['SALES_VALUE'] = df_fact_trans_agg_month_yr['SALES_VALUE'].fillna(0)
#df_fact_trans_agg_month_yr

In [ ]:
df_fact_trans_agg_month_yr['TRANS_date_round'] = pd.to_datetime(df_fact_trans_agg_month_yr[['YEAR_MOD', 'MONTH_NO']].rename(columns={'YEAR_MOD': 'year', 'MONTH_NO': 'month'}).assign(DAY=1))
df_fact_trans_agg_month_yr

,household_key,MONTH_NO,YEAR_MOD,key_hh_month_yr,QUANTITY,SALES_VALUE,TRANS_date_round
0,1,1,2002,1_1_2002,43,98.70,2002-01-01
1,1,2,2001,1_2_2001,34,78.66,2001-02-01
2,1,2,2002,1_2_2002,136,260.22,2002-02-01
3,1,3,2001,1_3_2001,27,68.00,2001-03-01
4,1,3,2002,1_3_2002,111,256.99,2002-03-01
...,...,...,...,...,...,...,...
45252,2500,10,2002,2500_10_2002,21121,320.05,2002-10-01
45253,2500,11,2001,2500_11_2001,94,283.79,2001-11-01
45254,2500,11,2002,2500_11_2002,139,416.28,2002-11-01
45255,2500,12,2001,2500_12_2001,128,264.37,2001-12-01
45256,2500,12,2002,2500_12_2002,62,132.72,2002-12-01

In [ ]:
eda = df_fact_trans_agg_month_yr.groupby(['household_key']).agg({'MONTH_NO':'count'}).reset_index()
eda = eda.rename(columns={'MONTH_NO':'MONTH_COUNT'})
eda

      household_key  MONTH_COUNT
0                 1           23
1                 2           17
2                 3           19
3                 4           15
4                 5           17
...             ...          ...
2495           2496           20
2496           2497           22
2497           2498           20
2498           2499           22
2499           2500           22

[2500 rows x 2 columns]

In [ ]:
eda.describe()

       household_key  MONTH_COUNT
count     2500.00000  2500.000000
mean      1250.50000    18.102800
std        721.83216     5.180711
min          1.00000     1.000000
25%        625.75000    15.000000
50%       1250.50000    20.000000
75%       1875.25000    22.000000
max       2500.00000    24.000000

In [ ]:
df_fact_trans_agg_month_yr

,household_key,MONTH_NO,YEAR_MOD,key_hh_month_yr,QUANTITY,SALES_VALUE,TRANS_date_round
0,1,1,2002,1_1_2002,43,98.70,2002-01-01
1,1,2,2001,1_2_2001,34,78.66,2001-02-01
2,1,2,2002,1_2_2002,136,260.22,2002-02-01
3,1,3,2001,1_3_2001,27,68.00,2001-03-01
4,1,3,2002,1_3_2002,111,256.99,2002-03-01
...,...,...,...,...,...,...,...
45252,2500,10,2002,2500_10_2002,21121,320.05,2002-10-01
45253,2500,11,2001,2500_11_2001,94,283.79,2001-11-01
45254,2500,11,2002,2500_11_2002,139,416.28,2002-11-01
45255,2500,12,2001,2500_12_2001,128,264.37,2001-12-01
45256,2500,12,2002,2500_12_2002,62,132.72,2002-12-01

In [ ]:
df_fact_trans_agg_month_yr.describe()

,household_key,MONTH_NO,YEAR_MOD,QUANTITY,SALES_VALUE,TRANS_date_round
count,45257.000000,45257.000000,45257.000000,45257.000000,45257.000000,45257
mean,1248.362286,6.764677,2001.531166,5760.117153,178.037515,2002-01-04 08:58:29.556532736
min,1.000000,1.000000,2001.000000,1.000000,0.000000,2001-01-01 00:00:00
25%,626.000000,4.000000,2001.000000,22.000000,45.190000,2001-08-01 00:00:00
50%,1244.000000,7.000000,2002.000000,63.000000,115.580000,2002-01-01 00:00:00
75%,1878.000000,10.000000,2002.000000,225.000000,246.530000,2002-07-01 00:00:00
max,2500.000000,12.000000,2002.000000,303045.000000,2598.270000,2002-12-01 00:00:00
std,722.916253,3.291519,0.499033,15303.255364,191.437345,NaN

# Feature Engineering

From EDA, it's safer to use quantity instead of SALES_VALUE as its value can be zero. Furthurmore it's may be appropriate to use 1-month period for churn consideration as all customers has at least one time to purchase 'Food & Beverage' category which would be expected to be purchased frequently.

## Assigning status

### statusall_except_churn

Note: pandasSQL does not have a built-in DATE_DIFF function that accepts a time unit like MONTH directly.

Logic:
- TRANS_date_round_prev IS NULL THEN 'New':

    If there is no previous transaction date (TRANS_date_round_prev is NULL), it assigns the status 'New'. This typically occurs for the first transaction for a household.

- WHEN ... = 1 THEN 'Repeat':

    If the difference between the current transaction date (TRANS_date_round) and the previous transaction date (TRANS_date_round_prev) is exactly 1 month, it assigns the status 'Repeat'.

- WHEN ... > 1 THEN 'Reactivate':

    If the difference between the current and previous transaction dates is more than 1 month, it assigns the status 'Reactivate'. This indicates that the customer is returning after a longer period of inactivity.

In [ ]:
Statusall_except_churn = pandasql.sqldf('''
    SELECT *,
      CASE
      -- Condition of 'New' status: when there is no previous transaction
        WHEN TRANS_date_round_prev IS NULL THEN 'New'

      -- Condition of 'Repeat' status: when the difference between the two dates is 1 month
        WHEN (
            (CAST(strftime('%Y', TRANS_date_round) AS INTEGER) - CAST(strftime('%Y', TRANS_date_round_prev) AS INTEGER)) * 12 +
            (CAST(strftime('%m', TRANS_date_round) AS INTEGER) - CAST(strftime('%m', TRANS_date_round_prev) AS INTEGER))
        ) = 1 THEN 'Repeat'

      -- Condition of 'Reactivate' status: when the difference is greater than 1 month
        WHEN (
            (CAST(strftime('%Y', TRANS_date_round) AS INTEGER) - CAST(strftime('%Y', TRANS_date_round_prev) AS INTEGER)) * 12 +
            (CAST(strftime('%m', TRANS_date_round) AS INTEGER) - CAST(strftime('%m', TRANS_date_round_prev) AS INTEGER))
        ) > 1 THEN 'Reactivate'
      ELSE NULL
      END AS Status
    FROM (
        SELECT *,
              LAG(TRANS_date_round, 1) OVER (PARTITION BY household_key ORDER BY TRANS_date_round) AS TRANS_date_round_prev
        FROM df_fact_trans_agg_month_yr
    )
''')
Statusall_except_churn

,household_key,MONTH_NO,YEAR_MOD,key_hh_month_yr,QUANTITY,SALES_VALUE,TRANS_date_round,TRANS_date_round_prev,Status
0,1,2,2001,1_2_2001,34,78.66,2001-02-01 00:00:00.000000,None,New
1,1,3,2001,1_3_2001,27,68.00,2001-03-01 00:00:00.000000,2001-02-01 00:00:00.000000,Repeat
2,1,4,2001,1_4_2001,75,167.19,2001-04-01 00:00:00.000000,2001-03-01 00:00:00.000000,Repeat
3,1,5,2001,1_5_2001,118,271.10,2001-05-01 00:00:00.000000,2001-04-01 00:00:00.000000,Repeat
4,1,6,2001,1_6_2001,111,237.93,2001-06-01 00:00:00.000000,2001-05-01 00:00:00.000000,Repeat
...,...,...,...,...,...,...,...,...,...
45252,2500,8,2002,2500_8_2002,20887,459.01,2002-08-01 00:00:00.000000,2002-07-01 00:00:00.000000,Repeat
45253,2500,9,2002,2500_9_2002,21268,350.49,2002-09-01 00:00:00.000000,2002-08-01 00:00:00.000000,Repeat
45254,2500,10,2002,2500_10_2002,21121,320.05,2002-10-01 00:00:00.000000,2002-09-01 00:00:00.000000,Repeat
45255,2500,11,2002,2500_11_2002,139,416.28,2002-11-01 00:00:00.000000,2002-10-01 00:00:00.000000,Repeat
45256,2500,12,2002,2500_12_2002,62,132.72,2002-12-01 00:00:00.000000,2002-11-01 00:00:00.000000,Repeat

In [ ]:
print(Statusall_except_churn.head(100).to_markdown())

|    |   household_key |   MONTH_NO |   YEAR_MOD |   key_hh_month_yr |   QUANTITY |   SALES_VALUE | TRANS_date_round           | TRANS_date_round_prev      | Status     |
|---:|----------------:|-----------:|-----------:|------------------:|-----------:|--------------:|:---------------------------|:---------------------------|:-----------|
|  0 |               1 |          2 |       2001 |          1_2_2001 |         34 |         78.66 | 2001-02-01 00:00:00.000000 |                            | New        |
|  1 |               1 |          3 |       2001 |          1_3_2001 |         27 |         68    | 2001-03-01 00:00:00.000000 | 2001-02-01 00:00:00.000000 | Repeat     |
|  2 |               1 |          4 |       2001 |          1_4_2001 |         75 |        167.19 | 2001-04-01 00:00:00.000000 | 2001-03-01 00:00:00.000000 | Repeat     |
|  3 |               1 |          5 |       2001 |          1_5_2001 |        118 |        271.1  | 2001-05-01 00:00:00.000000 | 2001-04-01 00:00:00.000000 | Repeat     |
|  4 |               1 |          6 |       2001 |          1_6_2001 |        111 |        237.93 | 2001-06-01 00:00:00.000000 | 2001-05-01 00:00:00.000000 | Repeat     |
|  5 |               1 |          7 |       2001 |          1_7_2001 |         71 |        147.05 | 2001-07-01 00:00:00.000000 | 2001-06-01 00:00:00.000000 | Repeat     |
|  6 |               1 |          8 |       2001 |          1_8_2001 |         88 |        190.2  | 2001-08-01 00:00:00.000000 | 2001-07-01 00:00:00.000000 | Repeat     |
|  7 |               1 |          9 |       2001 |          1_9_2001 |         71 |        153.27 | 2001-09-01 00:00:00.000000 | 2001-08-01 00:00:00.000000 | Repeat     |
|  8 |               1 |         10 |       2001 |         1_10_2001 |        143 |        263.01 | 2001-10-01 00:00:00.000000 | 2001-09-01 00:00:00.000000 | Repeat     |
|  9 |               1 |         11 |       2001 |         1_11_2001 |         77 |        151.42 | 2001-11-01 00:00:00.000000 | 2001-10-01 00:00:00.000000 | Repeat     |
| 10 |               1 |         12 |       2001 |         1_12_2001 |        138 |        283.83 | 2001-12-01 00:00:00.000000 | 2001-11-01 00:00:00.000000 | Repeat     |
| 11 |               1 |          1 |       2002 |          1_1_2002 |         43 |         98.7  | 2002-01-01 00:00:00.000000 | 2001-12-01 00:00:00.000000 | Repeat     |
| 12 |               1 |          2 |       2002 |          1_2_2002 |        136 |        260.22 | 2002-02-01 00:00:00.000000 | 2002-01-01 00:00:00.000000 | Repeat     |
| 13 |               1 |          3 |       2002 |          1_3_2002 |        111 |        256.99 | 2002-03-01 00:00:00.000000 | 2002-02-01 00:00:00.000000 | Repeat     |
| 14 |               1 |          4 |       2002 |          1_4_2002 |         71 |        174.8  | 2002-04-01 00:00:00.000000 | 2002-03-01 00:00:00.000000 | Repeat     |
| 15 |               1 |          5 |       2002 |          1_5_2002 |         93 |        217.38 | 2002-05-01 00:00:00.000000 | 2002-04-01 00:00:00.000000 | Repeat     |
| 16 |               1 |          6 |       2002 |          1_6_2002 |         51 |        131.38 | 2002-06-01 00:00:00.000000 | 2002-05-01 00:00:00.000000 | Repeat     |
| 17 |               1 |          7 |       2002 |          1_7_2002 |        100 |        187.66 | 2002-07-01 00:00:00.000000 | 2002-06-01 00:00:00.000000 | Repeat     |
| 18 |               1 |          8 |       2002 |          1_8_2002 |        115 |        246.98 | 2002-08-01 00:00:00.000000 | 2002-07-01 00:00:00.000000 | Repeat     |
| 19 |               1 |          9 |       2002 |          1_9_2002 |         78 |        174.02 | 2002-09-01 00:00:00.000000 | 2002-08-01 00:00:00.000000 | Repeat     |
| 20 |               1 |         10 |       2002 |         1_10_2002 |         93 |        200.12 | 2002-10-01 00:00:00.000000 | 2002-09-01 00:00:00.000000 | Repeat     |
| 21 |               1 |         11 |       2002 |         1_11_2002 |        120 |        288.96 | 2002-11-01 00:00:00.000000 | 2002-10-01 00:00:00.000000 | Repeat     |
| 22 |               1 |         12 |       2002 |         1_12_2002 |         33 |         81.29 | 2002-12-01 00:00:00.000000 | 2002-11-01 00:00:00.000000 | Repeat     |
| 23 |               2 |          4 |       2001 |          2_4_2001 |         55 |         70.77 | 2001-04-01 00:00:00.000000 |                            | New        |
| 24 |               2 |          5 |       2001 |          2_5_2001 |         49 |        107.01 | 2001-05-01 00:00:00.000000 | 2001-04-01 00:00:00.000000 | Repeat     |
| 25 |               2 |          6 |       2001 |          2_6_2001 |        114 |        252.3  | 2001-06-01 00:00:00.000000 | 2001-05-01 00:00:00.000000 | Repeat     |
| 26 |               2 |          7 |       2001 |          2_7_2001 |         45 |        140.01 | 2001-07-01 00:00:00.000000 | 2001-06-01 00:00:00.000000 | Repeat     |
| 27 |               2 |          8 |       2001 |          2_8_2001 |         19 |         55.18 | 2001-08-01 00:00:00.000000 | 2001-07-01 00:00:00.000000 | Repeat     |
| 28 |               2 |          9 |       2001 |          2_9_2001 |         75 |        174.06 | 2001-09-01 00:00:00.000000 | 2001-08-01 00:00:00.000000 | Repeat     |
| 29 |               2 |         10 |       2001 |         2_10_2001 |          6 |         23.41 | 2001-10-01 00:00:00.000000 | 2001-09-01 00:00:00.000000 | Repeat     |
| 30 |               2 |         11 |       2001 |         2_11_2001 |         23 |         57.38 | 2001-11-01 00:00:00.000000 | 2001-10-01 00:00:00.000000 | Repeat     |
| 31 |               2 |         12 |       2001 |         2_12_2001 |         37 |        110.07 | 2001-12-01 00:00:00.000000 | 2001-11-01 00:00:00.000000 | Repeat     |
| 32 |               2 |          2 |       2002 |          2_2_2002 |         12 |         62.19 | 2002-02-01 00:00:00.000000 | 2001-12-01 00:00:00.000000 | Reactivate |
| 33 |               2 |          3 |       2002 |          2_3_2002 |          5 |         10.59 | 2002-03-01 00:00:00.000000 | 2002-02-01 00:00:00.000000 | Repeat     |
| 34 |               2 |          4 |       2002 |          2_4_2002 |        100 |        244.86 | 2002-04-01 00:00:00.000000 | 2002-03-01 00:00:00.000000 | Repeat     |
| 35 |               2 |          5 |       2002 |          2_5_2002 |         39 |         77.41 | 2002-05-01 00:00:00.000000 | 2002-04-01 00:00:00.000000 | Repeat     |
| 36 |               2 |          6 |       2002 |          2_6_2002 |         42 |        107.52 | 2002-06-01 00:00:00.000000 | 2002-05-01 00:00:00.000000 | Repeat     |
| 37 |               2 |          8 |       2002 |          2_8_2002 |         59 |        143.89 | 2002-08-01 00:00:00.000000 | 2002-06-01 00:00:00.000000 | Reactivate |
| 38 |               2 |          9 |       2002 |          2_9_2002 |         83 |        186.8  | 2002-09-01 00:00:00.000000 | 2002-08-01 00:00:00.000000 | Repeat     |
| 39 |               2 |         10 |       2002 |         2_10_2002 |         71 |        130.89 | 2002-10-01 00:00:00.000000 | 2002-09-01 00:00:00.000000 | Repeat     |
| 40 |               3 |          4 |       2001 |          3_4_2001 |         22 |         46.81 | 2001-04-01 00:00:00.000000 |                            | New        |
| 41 |               3 |          5 |       2001 |          3_5_2001 |        152 |        235.2  | 2001-05-01 00:00:00.000000 | 2001-04-01 00:00:00.000000 | Repeat     |
| 42 |               3 |          6 |       2001 |          3_6_2001 |        104 |        182.57 | 2001-06-01 00:00:00.000000 | 2001-05-01 00:00:00.000000 | Repeat     |
| 43 |               3 |          7 |       2001 |          3_7_2001 |        265 |        441.1  | 2001-07-01 00:00:00.000000 | 2001-06-01 00:00:00.000000 | Repeat     |
| 44 |               3 |          8 |       2001 |          3_8_2001 |        185 |        324.94 | 2001-08-01 00:00:00.000000 | 2001-07-01 00:00:00.000000 | Repeat     |
| 45 |               3 |          9 |       2001 |          3_9_2001 |        207 |        337.05 | 2001-09-01 00:00:00.000000 | 2001-08-01 00:00:00.000000 | Repeat     |
| 46 |               3 |         10 |       2001 |         3_10_2001 |         11 |         35.39 | 2001-10-01 00:00:00.000000 | 2001-09-01 00:00:00.000000 | Repeat     |
| 47 |               3 |         11 |       2001 |         3_11_2001 |        173 |        286.26 | 2001-11-01 00:00:00.000000 | 2001-10-01 00:00:00.000000 | Repeat     |
| 48 |               3 |         12 |       2001 |         3_12_2001 |         70 |        124.71 | 2001-12-01 00:00:00.000000 | 2001-11-01 00:00:00.000000 | Repeat     |
| 49 |               3 |          1 |       2002 |          3_1_2002 |         60 |         80.27 | 2002-01-01 00:00:00.000000 | 2001-12-01 00:00:00.000000 | Repeat     |
| 50 |               3 |          2 |       2002 |          3_2_2002 |         92 |        131.47 | 2002-02-01 00:00:00.000000 | 2002-01-01 00:00:00.000000 | Repeat     |
| 51 |               3 |          3 |       2002 |          3_3_2002 |         26 |         56.57 | 2002-03-01 00:00:00.000000 | 2002-02-01 00:00:00.000000 | Repeat     |
| 52 |               3 |          4 |       2002 |          3_4_2002 |         72 |        114.56 | 2002-04-01 00:00:00.000000 | 2002-03-01 00:00:00.000000 | Repeat     |
| 53 |               3 |          5 |       2002 |          3_5_2002 |       6949 |         20.01 | 2002-05-01 00:00:00.000000 | 2002-04-01 00:00:00.000000 | Repeat     |
| 54 |               3 |          6 |       2002 |          3_6_2002 |         56 |        101.89 | 2002-06-01 00:00:00.000000 | 2002-05-01 00:00:00.000000 | Repeat     |
| 55 |               3 |          7 |       2002 |          3_7_2002 |         28 |         36.18 | 2002-07-01 00:00:00.000000 | 2002-06-01 00:00:00.000000 | Repeat     |
| 56 |               3 |         10 |       2002 |         3_10_2002 |         31 |         39.32 | 2002-10-01 00:00:00.000000 | 2002-07-01 00:00:00.000000 | Reactivate |
| 57 |               3 |         11 |       2002 |         3_11_2002 |         14 |         22.53 | 2002-11-01 00:00:00.000000 | 2002-10-01 00:00:00.000000 | Repeat     |
| 58 |               3 |         12 |       2002 |         3_12_2002 |         23 |         36.38 | 2002-12-01 00:00:00.000000 | 2002-11-01 00:00:00.000000 | Repeat     |
| 59 |               4 |          4 |       2001 |          4_4_2001 |         53 |        126.24 | 2001-04-01 00:00:00.000000 |                            | New        |
| 60 |               4 |          5 |       2001 |          4_5_2001 |         37 |        123.78 | 2001-05-01 00:00:00.000000 | 2001-04-01 00:00:00.000000 | Repeat     |
| 61 |               4 |          6 |       2001 |          4_6_2001 |         16 |         94.34 | 2001-06-01 00:00:00.000000 | 2001-05-01 00:00:00.000000 | Repeat     |
| 62 |               4 |          7 |       2001 |          4_7_2001 |         48 |        124.07 | 2001-07-01 00:00:00.000000 | 2001-06-01 00:00:00.000000 | Repeat     |
| 63 |               4 |          8 |       2001 |          4_8_2001 |         36 |         88.76 | 2001-08-01 00:00:00.000000 | 2001-07-01 00:00:00.000000 | Repeat     |
| 64 |               4 |          9 |       2001 |          4_9_2001 |         48 |        200.78 | 2001-09-01 00:00:00.000000 | 2001-08-01 00:00:00.000000 | Repeat     |
| 65 |               4 |         10 |       2001 |         4_10_2001 |         30 |        125.45 | 2001-10-01 00:00:00.000000 | 2001-09-01 00:00:00.000000 | Repeat     |
| 66 |               4 |         11 |       2001 |         4_11_2001 |         17 |         44.61 | 2001-11-01 00:00:00.000000 | 2001-10-01 00:00:00.000000 | Repeat     |
| 67 |               4 |         12 |       2001 |         4_12_2001 |         17 |         52.18 | 2001-12-01 00:00:00.000000 | 2001-11-01 00:00:00.000000 | Repeat     |
| 68 |               4 |          1 |       2002 |          4_1_2002 |          3 |          9.97 | 2002-01-01 00:00:00.000000 | 2001-12-01 00:00:00.000000 | Repeat     |
| 69 |               4 |          2 |       2002 |          4_2_2002 |         13 |         30.02 | 2002-02-01 00:00:00.000000 | 2002-01-01 00:00:00.000000 | Repeat     |
| 70 |               4 |          4 |       2002 |          4_4_2002 |          3 |         14.48 | 2002-04-01 00:00:00.000000 | 2002-02-01 00:00:00.000000 | Reactivate |
| 71 |               4 |          5 |       2002 |          4_5_2002 |          9 |         23.5  | 2002-05-01 00:00:00.000000 | 2002-04-01 00:00:00.000000 | Repeat     |
| 72 |               4 |          8 |       2002 |          4_8_2002 |         28 |         42.19 | 2002-08-01 00:00:00.000000 | 2002-05-01 00:00:00.000000 | Reactivate |
| 73 |               4 |          9 |       2002 |          4_9_2002 |         24 |         99.74 | 2002-09-01 00:00:00.000000 | 2002-08-01 00:00:00.000000 | Repeat     |
| 74 |               5 |          3 |       2001 |          5_3_2001 |          6 |         23.7  | 2001-03-01 00:00:00.000000 |                            | New        |
| 75 |               5 |          4 |       2001 |          5_4_2001 |         37 |        118.53 | 2001-04-01 00:00:00.000000 | 2001-03-01 00:00:00.000000 | Repeat     |
| 76 |               5 |          5 |       2001 |          5_5_2001 |         10 |         14.91 | 2001-05-01 00:00:00.000000 | 2001-04-01 00:00:00.000000 | Repeat     |
| 77 |               5 |          6 |       2001 |          5_6_2001 |         55 |        188.16 | 2001-06-01 00:00:00.000000 | 2001-05-01 00:00:00.000000 | Repeat     |
| 78 |               5 |          7 |       2001 |          5_7_2001 |         16 |         48.75 | 2001-07-01 00:00:00.000000 | 2001-06-01 00:00:00.000000 | Repeat     |
| 79 |               5 |          8 |       2001 |          5_8_2001 |         11 |         25.37 | 2001-08-01 00:00:00.000000 | 2001-07-01 00:00:00.000000 | Repeat     |
| 80 |               5 |          9 |       2001 |          5_9_2001 |         12 |         30    | 2001-09-01 00:00:00.000000 | 2001-08-01 00:00:00.000000 | Repeat     |
| 81 |               5 |         10 |       2001 |         5_10_2001 |         11 |         11.29 | 2001-10-01 00:00:00.000000 | 2001-09-01 00:00:00.000000 | Repeat     |
| 82 |               5 |         11 |       2001 |         5_11_2001 |         17 |         44.88 | 2001-11-01 00:00:00.000000 | 2001-10-01 00:00:00.000000 | Repeat     |
| 83 |               5 |          2 |       2002 |          5_2_2002 |         11 |         32.92 | 2002-02-01 00:00:00.000000 | 2001-11-01 00:00:00.000000 | Reactivate |
| 84 |               5 |          3 |       2002 |          5_3_2002 |         18 |         54.64 | 2002-03-01 00:00:00.000000 | 2002-02-01 00:00:00.000000 | Repeat     |
| 85 |               5 |          4 |       2002 |          5_4_2002 |         12 |         44.99 | 2002-04-01 00:00:00.000000 | 2002-03-01 00:00:00.000000 | Repeat     |
| 86 |               5 |          6 |       2002 |          5_6_2002 |         11 |         31.98 | 2002-06-01 00:00:00.000000 | 2002-04-01 00:00:00.000000 | Reactivate |
| 87 |               5 |          7 |       2002 |          5_7_2002 |          9 |         65.72 | 2002-07-01 00:00:00.000000 | 2002-06-01 00:00:00.000000 | Repeat     |
| 88 |               5 |          8 |       2002 |          5_8_2002 |          6 |         13.25 | 2002-08-01 00:00:00.000000 | 2002-07-01 00:00:00.000000 | Repeat     |
| 89 |               5 |         11 |       2002 |         5_11_2002 |          2 |         16.98 | 2002-11-01 00:00:00.000000 | 2002-08-01 00:00:00.000000 | Reactivate |
| 90 |               5 |         12 |       2002 |         5_12_2002 |          1 |         12.99 | 2002-12-01 00:00:00.000000 | 2002-11-01 00:00:00.000000 | Repeat     |
| 91 |               6 |          4 |       2001 |          6_4_2001 |         21 |         53.96 | 2001-04-01 00:00:00.000000 |                            | New        |
| 92 |               6 |          5 |       2001 |          6_5_2001 |        194 |        505.82 | 2001-05-01 00:00:00.000000 | 2001-04-01 00:00:00.000000 | Repeat     |
| 93 |               6 |          6 |       2001 |          6_6_2001 |        137 |        320.58 | 2001-06-01 00:00:00.000000 | 2001-05-01 00:00:00.000000 | Repeat     |
| 94 |               6 |          7 |       2001 |          6_7_2001 |        105 |        296.4  | 2001-07-01 00:00:00.000000 | 2001-06-01 00:00:00.000000 | Repeat     |
| 95 |               6 |          8 |       2001 |          6_8_2001 |        124 |        317.01 | 2001-08-01 00:00:00.000000 | 2001-07-01 00:00:00.000000 | Repeat     |
| 96 |               6 |          9 |       2001 |          6_9_2001 |        147 |        397.75 | 2001-09-01 00:00:00.000000 | 2001-08-01 00:00:00.000000 | Repeat     |
| 97 |               6 |         10 |       2001 |         6_10_2001 |        130 |        382.05 | 2001-10-01 00:00:00.000000 | 2001-09-01 00:00:00.000000 | Repeat     |
| 98 |               6 |         11 |       2001 |         6_11_2001 |        119 |        263.19 | 2001-11-01 00:00:00.000000 | 2001-10-01 00:00:00.000000 | Repeat     |
| 99 |               6 |         12 |       2001 |         6_12_2001 |        214 |        393.9  | 2001-12-01 00:00:00.000000 | 2001-11-01 00:00:00.000000 | Repeat     |

In [ ]:
Statusall_except_churn.head(5)

,household_key,MONTH_NO,YEAR_MOD,key_hh_month_yr,QUANTITY,SALES_VALUE,TRANS_date_round,TRANS_date_round_prev,Status
0,1,2,2001,1_2_2001,34,78.66,2001-02-01 00:00:00.000000,None,New
1,1,3,2001,1_3_2001,27,68.00,2001-03-01 00:00:00.000000,2001-02-01 00:00:00.000000,Repeat
2,1,4,2001,1_4_2001,75,167.19,2001-04-01 00:00:00.000000,2001-03-01 00:00:00.000000,Repeat
3,1,5,2001,1_5_2001,118,271.10,2001-05-01 00:00:00.000000,2001-04-01 00:00:00.000000,Repeat
4,1,6,2001,1_6_2001,111,237.93,2001-06-01 00:00:00.000000,2001-05-01 00:00:00.000000,Repeat

### Status_only_churn

Churn status corresponds with the following condition:
- n_churn_M > 1: Filters for churn periods that are more than 1 month.
- n_churn_M IS NULL: Includes cases where the churn period is in the latest month (no subsequent transaction).
- TRANS_date_round < (SELECT MAX(TRANS_date_round) FROM df_fact_trans_agg_month_yr): Excludes records with the latest transaction date to avoid including the current period.

In [ ]:
Status_only_churn = pandasql.sqldf('''
    SELECT household_key,
           DATE(TRANS_date_round, '+1 month') AS TRANS_date_round_churnreported,"Churn" AS Status,
           -- Change n_churn_M to be Integer for transforming to layer of churn
           CASE
               WHEN n_churn_M > 0 THEN n_churn_M - 1
               WHEN DATE(TRANS_date_round, '+1 month') = (SELECT MAX(TRANS_date_round) FROM df_fact_trans_agg_month_yr) THEN 1
               WHEN DATE(TRANS_date_round, '+1 month') < (SELECT MAX(TRANS_date_round) FROM df_fact_trans_agg_month_yr)
               THEN (CAST(strftime('%Y', (SELECT MAX(TRANS_date_round) FROM df_fact_trans_agg_month_yr)) AS INT) * 12 +
                 CAST(strftime('%m', (SELECT MAX(TRANS_date_round) FROM df_fact_trans_agg_month_yr)) AS INT)) -
                (CAST(strftime('%Y', DATE(TRANS_date_round, '+1 month')) AS INT) * 12 +
                 CAST(strftime('%m', DATE(TRANS_date_round, '+1 month')) AS INT)) + 1
           ELSE 0
       END AS n_churn_M_int,

           CASE
               WHEN n_churn_M > 0 THEN n_churn_M - 1
               WHEN DATE(TRANS_date_round, '+1 month') <= (SELECT MAX(TRANS_date_round) FROM df_fact_trans_agg_month_yr) THEN 0
               ELSE NULL
           END AS n_churn_btw_M

    FROM (
        SELECT *,
               (CAST(strftime('%Y', LEAD(TRANS_date_round, 1) OVER (PARTITION BY household_key ORDER BY TRANS_date_round)) AS INT) * 12 +
            CAST(strftime('%m', LEAD(TRANS_date_round, 1) OVER (PARTITION BY household_key ORDER BY TRANS_date_round)) AS INT)) -
           (CAST(strftime('%Y', TRANS_date_round) AS INT) * 12 +
            CAST(strftime('%m', TRANS_date_round) AS INT)) AS n_churn_M
        FROM df_fact_trans_agg_month_yr
    )
    WHERE ((n_churn_M > 1) --Churn btw HY
        OR (n_churn_M IS NULL)) --Churn in lastest month*
        AND TRANS_date_round < (SELECT MAX(TRANS_date_round) FROM df_fact_trans_agg_month_yr) --Excluding last current period*

''')
Status_only_churn

,household_key,TRANS_date_round_churnreported,Status,n_churn_M_int,n_churn_btw_M
0,2,2002-01-01,Churn,1,1
1,2,2002-07-01,Churn,1,1
2,2,2002-11-01,Churn,2,0
3,3,2002-08-01,Churn,2,2
4,4,2002-03-01,Churn,1,1
...,...,...,...,...,...
4832,2495,2002-04-01,Churn,1,1
4833,2495,2002-06-01,Churn,4,4
4834,2495,2002-11-01,Churn,2,0
4835,2496,2002-12-01,Churn,1,0
4836,2498,2001-06-01,Churn,1,1

In [ ]:
Status_only_churn[Status_only_churn['household_key']==15]

,household_key,TRANS_date_round_churnreported,Status,n_churn_M_int,n_churn_btw_M
30,15,2001-04-01,Churn,1,1
31,15,2001-06-01,Churn,3,3
32,15,2001-12-01,Churn,2,2
33,15,2002-03-01,Churn,1,1

In [ ]:
Statusall_except_churn[Statusall_except_churn['household_key']==15]

,household_key,MONTH_NO,YEAR_MOD,key_hh_month_yr,QUANTITY,SALES_VALUE,TRANS_date_round,TRANS_date_round_prev,Status
229,15,1,2001,15_1_2001,2,4.98,2001-01-01,None,New
230,15,2,2001,15_2_2001,62,92.26,2001-02-01,2001-01-01 00:00:00.000000,Repeat
231,15,3,2001,15_3_2001,11,16.16,2001-03-01,2001-02-01 00:00:00.000000,Repeat
232,15,5,2001,15_5_2001,2,7.58,2001-05-01,2001-03-01 00:00:00.000000,Reactivate
233,15,9,2001,15_9_2001,47,40.88,2001-09-01,2001-05-01 00:00:00.000000,Reactivate
234,15,10,2001,15_10_2001,40,103.41,2001-10-01,2001-09-01 00:00:00.000000,Repeat
235,15,11,2001,15_11_2001,8,16.15,2001-11-01,2001-10-01 00:00:00.000000,Repeat
236,15,2,2002,15_2_2002,18,40.85,2002-02-01,2001-11-01 00:00:00.000000,Reactivate
237,15,4,2002,15_4_2002,88,155.03,2002-04-01,2002-02-01 00:00:00.000000,Reactivate
238,15,5,2002,15_5_2002,39,69.99,2002-05-01,2002-04-01 00:00:00.000000,Repeat
239,15,6,2002,15_6_2002,12,27.85,2002-06-01,2002-05-01 00:00:00.000000,Repeat
240,15,7,2002,15_7_2002,11,33.62,2002-07-01,2002-06-01 00:00:00.000000,Repeat
241,15,8,2002,15_8_2002,22,84.34,2002-08-01,2002-07-01 00:00:00.000000,Repeat
242,15,9,2002,15_9_2002,26,102.50,2002-09-01,2002-08-01 00:00:00.000000,Repeat
243,15,10,2002,15_10_2002,38,65.75,2002-10-01,2002-09-01 00:00:00.000000,Repeat
244,15,11,2002,15_11_2002,35,98.42,2002-11-01,2002-10-01 00:00:00.000000,Repeat
245,15,12,2002,15_12_2002,4,12.76,2002-12-01,2002-11-01 00:00:00.000000,Repeat

The result seems to be correct

## union all status

###Status_all

In [ ]:
Statusall_except_churn['TRANS_date_round'] = pd.to_datetime(Statusall_except_churn['TRANS_date_round'])
Status_only_churn['TRANS_date_round_churnreported'] = pd.to_datetime(Status_only_churn['TRANS_date_round_churnreported'])

In [ ]:
Statusall = pandasql.sqldf('''
  --Union all status
  SELECT household_key, TRANS_date_round , QUANTITY, SALES_VALUE, Status, 0 AS n_churn_M_int, 0 AS n_churn_btw_M
  FROM Statusall_except_churn

  UNION

  SELECT household_key, TRANS_date_round_churnreported AS TRANS_date_round, CAST(0 AS INT) AS QUANTITY, CAST(0 AS DECIMAL(10, 2)) AS SALES_VALUE, Status, n_churn_M_int, n_churn_btw_M
  FROM Status_only_churn
''')
Statusall['TRANS_date_round'] = pd.to_datetime(Statusall['TRANS_date_round'])
Statusall

,household_key,TRANS_date_round,QUANTITY,SALES_VALUE,Status,n_churn_M_int,n_churn_btw_M
0,1,2001-02-01,34,78.66,New,0,0
1,1,2001-03-01,27,68.00,Repeat,0,0
2,1,2001-04-01,75,167.19,Repeat,0,0
3,1,2001-05-01,118,271.10,Repeat,0,0
4,1,2001-06-01,111,237.93,Repeat,0,0
...,...,...,...,...,...,...,...
50089,2500,2002-08-01,20887,459.01,Repeat,0,0
50090,2500,2002-09-01,21268,350.49,Repeat,0,0
50091,2500,2002-10-01,21121,320.05,Repeat,0,0
50092,2500,2002-11-01,139,416.28,Repeat,0,0
50093,2500,2002-12-01,62,132.72,Repeat,0,0

In [ ]:
list_hh_key = list(Statusall['household_key'].unique())
list_hh_key[0:20]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

In [ ]:
list_hh_key = list(Statusall['household_key'].unique())
for hh in list_hh_key[0:20]:
  print(Statusall[Statusall['household_key']==hh].to_markdown())

|    |   household_key | TRANS_date_round    |   QUANTITY |   SALES_VALUE | Status   |   n_churn_M_int |   n_churn_btw_M |
|---:|----------------:|:--------------------|-----------:|--------------:|:---------|----------------:|----------------:|
|  0 |               1 | 2001-02-01 00:00:00 |         34 |         78.66 | New      |               0 |               0 |
|  1 |               1 | 2001-03-01 00:00:00 |         27 |         68    | Repeat   |               0 |               0 |
|  2 |               1 | 2001-04-01 00:00:00 |         75 |        167.19 | Repeat   |               0 |               0 |
|  3 |               1 | 2001-05-01 00:00:00 |        118 |        271.1  | Repeat   |               0 |               0 |
|  4 |               1 | 2001-06-01 00:00:00 |        111 |        237.93 | Repeat   |               0 |               0 |
|  5 |               1 | 2001-07-01 00:00:00 |         71 |        147.05 | Repeat   |               0 |               0 |
|  6 |               1 | 2001-08-01 00:00:00 |         88 |        190.2  | Repeat   |               0 |               0 |
|  7 |               1 | 2001-09-01 00:00:00 |         71 |        153.27 | Repeat   |               0 |               0 |
|  8 |               1 | 2001-10-01 00:00:00 |        143 |        263.01 | Repeat   |               0 |               0 |
|  9 |               1 | 2001-11-01 00:00:00 |         77 |        151.42 | Repeat   |               0 |               0 |
| 10 |               1 | 2001-12-01 00:00:00 |        138 |        283.83 | Repeat   |               0 |               0 |
| 11 |               1 | 2002-01-01 00:00:00 |         43 |         98.7  | Repeat   |               0 |               0 |
| 12 |               1 | 2002-02-01 00:00:00 |        136 |        260.22 | Repeat   |               0 |               0 |
| 13 |               1 | 2002-03-01 00:00:00 |        111 |        256.99 | Repeat   |               0 |               0 |
| 14 |               1 | 2002-04-01 00:00:00 |         71 |        174.8  | Repeat   |               0 |               0 |
| 15 |               1 | 2002-05-01 00:00:00 |         93 |        217.38 | Repeat   |               0 |               0 |
| 16 |               1 | 2002-06-01 00:00:00 |         51 |        131.38 | Repeat   |               0 |               0 |
| 17 |               1 | 2002-07-01 00:00:00 |        100 |        187.66 | Repeat   |               0 |               0 |
| 18 |               1 | 2002-08-01 00:00:00 |        115 |        246.98 | Repeat   |               0 |               0 |
| 19 |               1 | 2002-09-01 00:00:00 |         78 |        174.02 | Repeat   |               0 |               0 |
| 20 |               1 | 2002-10-01 00:00:00 |         93 |        200.12 | Repeat   |               0 |               0 |
| 21 |               1 | 2002-11-01 00:00:00 |        120 |        288.96 | Repeat   |               0 |               0 |
| 22 |               1 | 2002-12-01 00:00:00 |         33 |         81.29 | Repeat   |               0 |               0 |
|    |   household_key | TRANS_date_round    |   QUANTITY |   SALES_VALUE | Status     |   n_churn_M_int |   n_churn_btw_M |
|---:|----------------:|:--------------------|-----------:|--------------:|:-----------|----------------:|----------------:|
| 23 |               2 | 2001-04-01 00:00:00 |         55 |         70.77 | New        |               0 |               0 |
| 24 |               2 | 2001-05-01 00:00:00 |         49 |        107.01 | Repeat     |               0 |               0 |
| 25 |               2 | 2001-06-01 00:00:00 |        114 |        252.3  | Repeat     |               0 |               0 |
| 26 |               2 | 2001-07-01 00:00:00 |         45 |        140.01 | Repeat     |               0 |               0 |
| 27 |               2 | 2001-08-01 00:00:00 |         19 |         55.18 | Repeat     |               0 |               0 |
| 28 |               2 | 2001-09-01 00:00:00 |         75 |        174.06 | Repeat     |               0 |               0 |
| 29 |               2 | 2001-10-01 00:00:00 |          6 |         23.41 | Repeat     |               0 |               0 |
| 30 |               2 | 2001-11-01 00:00:00 |         23 |         57.38 | Repeat     |               0 |               0 |
| 31 |               2 | 2001-12-01 00:00:00 |         37 |        110.07 | Repeat     |               0 |               0 |
| 32 |               2 | 2002-01-01 00:00:00 |          0 |          0    | Churn      |               1 |               1 |
| 33 |               2 | 2002-02-01 00:00:00 |         12 |         62.19 | Reactivate |               0 |               0 |
| 34 |               2 | 2002-03-01 00:00:00 |          5 |         10.59 | Repeat     |               0 |               0 |
| 35 |               2 | 2002-04-01 00:00:00 |        100 |        244.86 | Repeat     |               0 |               0 |
| 36 |               2 | 2002-05-01 00:00:00 |         39 |         77.41 | Repeat     |               0 |               0 |
| 37 |               2 | 2002-06-01 00:00:00 |         42 |        107.52 | Repeat     |               0 |               0 |
| 38 |               2 | 2002-07-01 00:00:00 |          0 |          0    | Churn      |               1 |               1 |
| 39 |               2 | 2002-08-01 00:00:00 |         59 |        143.89 | Reactivate |               0 |               0 |
| 40 |               2 | 2002-09-01 00:00:00 |         83 |        186.8  | Repeat     |               0 |               0 |
| 41 |               2 | 2002-10-01 00:00:00 |         71 |        130.89 | Repeat     |               0 |               0 |
| 42 |               2 | 2002-11-01 00:00:00 |          0 |          0    | Churn      |               2 |               0 |
|    |   household_key | TRANS_date_round    |   QUANTITY |   SALES_VALUE | Status     |   n_churn_M_int |   n_churn_btw_M |
|---:|----------------:|:--------------------|-----------:|--------------:|:-----------|----------------:|----------------:|
| 43 |               3 | 2001-04-01 00:00:00 |         22 |         46.81 | New        |               0 |               0 |
| 44 |               3 | 2001-05-01 00:00:00 |        152 |        235.2  | Repeat     |               0 |               0 |
| 45 |               3 | 2001-06-01 00:00:00 |        104 |        182.57 | Repeat     |               0 |               0 |
| 46 |               3 | 2001-07-01 00:00:00 |        265 |        441.1  | Repeat     |               0 |               0 |
| 47 |               3 | 2001-08-01 00:00:00 |        185 |        324.94 | Repeat     |               0 |               0 |
| 48 |               3 | 2001-09-01 00:00:00 |        207 |        337.05 | Repeat     |               0 |               0 |
| 49 |               3 | 2001-10-01 00:00:00 |         11 |         35.39 | Repeat     |               0 |               0 |
| 50 |               3 | 2001-11-01 00:00:00 |        173 |        286.26 | Repeat     |               0 |               0 |
| 51 |               3 | 2001-12-01 00:00:00 |         70 |        124.71 | Repeat     |               0 |               0 |
| 52 |               3 | 2002-01-01 00:00:00 |         60 |         80.27 | Repeat     |               0 |               0 |
| 53 |               3 | 2002-02-01 00:00:00 |         92 |        131.47 | Repeat     |               0 |               0 |
| 54 |               3 | 2002-03-01 00:00:00 |         26 |         56.57 | Repeat     |               0 |               0 |
| 55 |               3 | 2002-04-01 00:00:00 |         72 |        114.56 | Repeat     |               0 |               0 |
| 56 |               3 | 2002-05-01 00:00:00 |       6949 |         20.01 | Repeat     |               0 |               0 |
| 57 |               3 | 2002-06-01 00:00:00 |         56 |        101.89 | Repeat     |               0 |               0 |
| 58 |               3 | 2002-07-01 00:00:00 |         28 |         36.18 | Repeat     |               0 |               0 |
| 59 |               3 | 2002-08-01 00:00:00 |          0 |          0    | Churn      |               2 |               2 |
| 60 |               3 | 2002-10-01 00:00:00 |         31 |         39.32 | Reactivate |               0 |               0 |
| 61 |               3 | 2002-11-01 00:00:00 |         14 |         22.53 | Repeat     |               0 |               0 |
| 62 |               3 | 2002-12-01 00:00:00 |         23 |         36.38 | Repeat     |               0 |               0 |
|    |   household_key | TRANS_date_round    |   QUANTITY |   SALES_VALUE | Status     |   n_churn_M_int |   n_churn_btw_M |
|---:|----------------:|:--------------------|-----------:|--------------:|:-----------|----------------:|----------------:|
| 63 |               4 | 2001-04-01 00:00:00 |         53 |        126.24 | New        |               0 |               0 |
| 64 |               4 | 2001-05-01 00:00:00 |         37 |        123.78 | Repeat     |               0 |               0 |
| 65 |               4 | 2001-06-01 00:00:00 |         16 |         94.34 | Repeat     |               0 |               0 |
| 66 |               4 | 2001-07-01 00:00:00 |         48 |        124.07 | Repeat     |               0 |               0 |
| 67 |               4 | 2001-08-01 00:00:00 |         36 |         88.76 | Repeat     |               0 |               0 |
| 68 |               4 | 2001-09-01 00:00:00 |         48 |        200.78 | Repeat     |               0 |               0 |
| 69 |               4 | 2001-10-01 00:00:00 |         30 |        125.45 | Repeat     |               0 |               0 |
| 70 |               4 | 2001-11-01 00:00:00 |         17 |         44.61 | Repeat     |               0 |               0 |
| 71 |               4 | 2001-12-01 00:00:00 |         17 |         52.18 | Repeat     |               0 |               0 |
| 72 |               4 | 2002-01-01 00:00:00 |          3 |          9.97 | Repeat     |               0 |               0 |
| 73 |               4 | 2002-02-01 00:00:00 |         13 |         30.02 | Repeat     |               0 |               0 |
| 74 |               4 | 2002-03-01 00:00:00 |          0 |          0    | Churn      |               1 |               1 |
| 75 |               4 | 2002-04-01 00:00:00 |          3 |         14.48 | Reactivate |               0 |               0 |
| 76 |               4 | 2002-05-01 00:00:00 |          9 |         23.5  | Repeat     |               0 |               0 |
| 77 |               4 | 2002-06-01 00:00:00 |          0 |          0    | Churn      |               2 |               2 |
| 78 |               4 | 2002-08-01 00:00:00 |         28 |         42.19 | Reactivate |               0 |               0 |
| 79 |               4 | 2002-09-01 00:00:00 |         24 |         99.74 | Repeat     |               0 |               0 |
| 80 |               4 | 2002-10-01 00:00:00 |          0 |          0    | Churn      |               3 |               0 |
|     |   household_key | TRANS_date_round    |   QUANTITY |   SALES_VALUE | Status     |   n_churn_M_int |   n_churn_btw_M |
|----:|----------------:|:--------------------|-----------:|--------------:|:-----------|----------------:|----------------:|
|  81 |               5 | 2001-03-01 00:00:00 |          6 |         23.7  | New        |               0 |               0 |
|  82 |               5 | 2001-04-01 00:00:00 |         37 |        118.53 | Repeat     |               0 |               0 |
|  83 |               5 | 2001-05-01 00:00:00 |         10 |         14.91 | Repeat     |               0 |               0 |
|  84 |               5 | 2001-06-01 00:00:00 |         55 |        188.16 | Repeat     |               0 |               0 |
|  85 |               5 | 2001-07-01 00:00:00 |         16 |         48.75 | Repeat     |               0 |               0 |
|  86 |               5 | 2001-08-01 00:00:00 |         11 |         25.37 | Repeat     |               0 |               0 |
|  87 |               5 | 2001-09-01 00:00:00 |         12 |         30    | Repeat     |               0 |               0 |
|  88 |               5 | 2001-10-01 00:00:00 |         11 |         11.29 | Repeat     |               0 |               0 |
|  89 |               5 | 2001-11-01 00:00:00 |         17 |         44.88 | Repeat     |               0 |               0 |
|  90 |               5 | 2001-12-01 00:00:00 |          0 |          0    | Churn      |               2 |               2 |
|  91 |               5 | 2002-02-01 00:00:00 |         11 |         32.92 | Reactivate |               0 |               0 |
|  92 |               5 | 2002-03-01 00:00:00 |         18 |         54.64 | Repeat     |               0 |               0 |
|  93 |               5 | 2002-04-01 00:00:00 |         12 |         44.99 | Repeat     |               0 |               0 |
|  94 |               5 | 2002-05-01 00:00:00 |          0 |          0    | Churn      |               1 |               1 |
|  95 |               5 | 2002-06-01 00:00:00 |         11 |         31.98 | Reactivate |               0 |               0 |
|  96 |               5 | 2002-07-01 00:00:00 |          9 |         65.72 | Repeat     |               0 |               0 |
|  97 |               5 | 2002-08-01 00:00:00 |          6 |         13.25 | Repeat     |               0 |               0 |
|  98 |               5 | 2002-09-01 00:00:00 |          0 |          0    | Churn      |               2 |               2 |
|  99 |               5 | 2002-11-01 00:00:00 |          2 |         16.98 | Reactivate |               0 |               0 |
| 100 |               5 | 2002-12-01 00:00:00 |          1 |         12.99 | Repeat     |               0 |               0 |
|     |   household_key | TRANS_date_round    |   QUANTITY |   SALES_VALUE | Status   |   n_churn_M_int |   n_churn_btw_M |
|----:|----------------:|:--------------------|-----------:|--------------:|:---------|----------------:|----------------:|
| 101 |               6 | 2001-04-01 00:00:00 |         21 |         53.96 | New      |               0 |               0 |
| 102 |               6 | 2001-05-01 00:00:00 |        194 |        505.82 | Repeat   |               0 |               0 |
| 103 |               6 | 2001-06-01 00:00:00 |        137 |        320.58 | Repeat   |               0 |               0 |
| 104 |               6 | 2001-07-01 00:00:00 |        105 |        296.4  | Repeat   |               0 |               0 |
| 105 |               6 | 2001-08-01 00:00:00 |        124 |        317.01 | Repeat   |               0 |               0 |
| 106 |               6 | 2001-09-01 00:00:00 |        147 |        397.75 | Repeat   |               0 |               0 |
| 107 |               6 | 2001-10-01 00:00:00 |        130 |        382.05 | Repeat   |               0 |               0 |
| 108 |               6 | 2001-11-01 00:00:00 |        119 |        263.19 | Repeat   |               0 |               0 |
| 109 |               6 | 2001-12-01 00:00:00 |        214 |        393.9  | Repeat   |               0 |               0 |
| 110 |               6 | 2002-01-01 00:00:00 |        192 |        324.87 | Repeat   |               0 |               0 |
| 111 |               6 | 2002-02-01 00:00:00 |         87 |        221.98 | Repeat   |               0 |               0 |
| 112 |               6 | 2002-03-01 00:00:00 |         89 |        217.54 | Repeat   |               0 |               0 |
| 113 |               6 | 2002-04-01 00:00:00 |        116 |        352.4  | Repeat   |               0 |               0 |
| 114 |               6 | 2002-05-01 00:00:00 |      73668 |        368.7  | Repeat   |               0 |               0 |
| 115 |               6 | 2002-06-01 00:00:00 |      18824 |        359.1  | Repeat   |               0 |               0 |
| 116 |               6 | 2002-07-01 00:00:00 |         56 |        136.85 | Repeat   |               0 |               0 |
| 117 |               6 | 2002-08-01 00:00:00 |        121 |        280    | Repeat   |               0 |               0 |
| 118 |               6 | 2002-09-01 00:00:00 |        107 |        250.92 | Repeat   |               0 |               0 |
| 119 |               6 | 2002-10-01 00:00:00 |        125 |        259.49 | Repeat   |               0 |               0 |
| 120 |               6 | 2002-11-01 00:00:00 |         78 |        198.61 | Repeat   |               0 |               0 |
| 121 |               6 | 2002-12-01 00:00:00 |         36 |         95.04 | Repeat   |               0 |               0 |
|     |   household_key | TRANS_date_round    |   QUANTITY |   SALES_VALUE | Status     |   n_churn_M_int |   n_churn_btw_M |
|----:|----------------:|:--------------------|-----------:|--------------:|:-----------|----------------:|----------------:|
| 122 |               7 | 2001-01-01 00:00:00 |         38 |         86.31 | New        |               0 |               0 |
| 123 |               7 | 2001-02-01 00:00:00 |         55 |        120.6  | Repeat     |               0 |               0 |
| 124 |               7 | 2001-03-01 00:00:00 |          3 |         11.97 | Repeat     |               0 |               0 |
| 125 |               7 | 2001-04-01 00:00:00 |          0 |          0    | Churn      |               1 |               1 |
| 126 |               7 | 2001-05-01 00:00:00 |          2 |         10.58 | Reactivate |               0 |               0 |
| 127 |               7 | 2001-06-01 00:00:00 |         25 |         56.23 | Repeat     |               0 |               0 |
| 128 |               7 | 2001-07-01 00:00:00 |         60 |        148.01 | Repeat     |               0 |               0 |
| 129 |               7 | 2001-08-01 00:00:00 |         50 |        168.25 | Repeat     |               0 |               0 |
| 130 |               7 | 2001-09-01 00:00:00 |         30 |         72.58 | Repeat     |               0 |               0 |
| 131 |               7 | 2001-10-01 00:00:00 |         16 |         21.69 | Repeat     |               0 |               0 |
| 132 |               7 | 2001-11-01 00:00:00 |        107 |        183.09 | Repeat     |               0 |               0 |
| 133 |               7 | 2001-12-01 00:00:00 |          0 |          0    | Churn      |               1 |               1 |
| 134 |               7 | 2002-01-01 00:00:00 |        147 |        306.8  | Reactivate |               0 |               0 |
| 135 |               7 | 2002-02-01 00:00:00 |        114 |        275.41 | Repeat     |               0 |               0 |
| 136 |               7 | 2002-03-01 00:00:00 |        125 |        313.56 | Repeat     |               0 |               0 |
| 137 |               7 | 2002-04-01 00:00:00 |          5 |         14.59 | Repeat     |               0 |               0 |
| 138 |               7 | 2002-05-01 00:00:00 |          9 |         24.52 | Repeat     |               0 |               0 |
| 139 |               7 | 2002-06-01 00:00:00 |         89 |        193.88 | Repeat     |               0 |               0 |
| 140 |               7 | 2002-07-01 00:00:00 |        143 |        312.43 | Repeat     |               0 |               0 |
| 141 |               7 | 2002-08-01 00:00:00 |         37 |         49.03 | Repeat     |               0 |               0 |
| 142 |               7 | 2002-09-01 00:00:00 |        134 |        250.38 | Repeat     |               0 |               0 |
| 143 |               7 | 2002-10-01 00:00:00 |        115 |        245.98 | Repeat     |               0 |               0 |
| 144 |               7 | 2002-11-01 00:00:00 |        175 |        362.39 | Repeat     |               0 |               0 |
| 145 |               7 | 2002-12-01 00:00:00 |         75 |        171.77 | Repeat     |               0 |               0 |

## Assign additional columns: dim_is_status

### Is_churn	Is_reactive_from_churn_btw_month

In [ ]:
dim_is_status = pandasql.sqldf('''
    WITH Statusall_agg AS(
    SELECT household_key, SUM(n_churn_M_int) AS Total_n_churn_M_int, SUM(n_churn_btw_M) AS Total_n_churn_btw_M, MAX(n_churn_btw_M) AS Max_n_churn_btw_M
    FROM Statusall
    GROUP BY household_key)

    SELECT household_key, Max_n_churn_btw_M,
          CASE WHEN Total_n_churn_M_int > 0 THEN 1 ELSE 0 END AS Is_churn,
          CASE WHEN Total_n_churn_btw_M > 0 THEN 1 ELSE 0 END AS Is_reactive_from_churn_btw_month
    FROM Statusall_agg
''')
dim_is_status

,household_key,Max_n_churn_btw_M,Is_churn,Is_reactive_from_churn_btw_month
0,1,0,0,0
1,2,1,1,1
2,3,2,1,1
3,4,2,1,1
4,5,2,1,1
...,...,...,...,...
2495,2496,0,1,0
2496,2497,0,0,0
2497,2498,1,1,1
2498,2499,0,0,0
2499,2500,0,0,0

### Is_Churn_latest

In [ ]:
Churn_latest_hh = pandasql.sqldf('''
    SELECT DISTINCT household_key
    FROM Statusall
    WHERE Status = 'Churn' AND TRANS_date_round = (SELECT MAX(TRANS_date_round) FROM Statusall)
''')
Churn_latest_hh

     household_key
0                9
1               10
2               16
3               17
4               21
..             ...
535           2480
536           2482
537           2487
538           2490
539           2496

[540 rows x 1 columns]

In [ ]:
dim_is_status = pandasql.sqldf('''
    SELECT X.*,
          CASE WHEN Churn_latest_hh.household_key IS NOT NULL THEN 1 ELSE 0 END AS Is_Churn_latest
    FROM dim_is_status AS X
    LEFT JOIN Churn_latest_hh
    ON X.household_key = Churn_latest_hh.household_key
''')
dim_is_status

,household_key,Max_n_churn_btw_M,Is_churn,Is_reactive_from_churn_btw_month,Is_Churn_latest
0,1,0,0,0,0
1,2,1,1,1,0
2,3,2,1,1,0
3,4,2,1,1,0
4,5,2,1,1,0
...,...,...,...,...,...
2495,2496,0,1,0,1
2496,2497,0,0,0,0
2497,2498,1,1,1,0
2498,2499,0,0,0,0
2499,2500,0,0,0,0

In [ ]:
Active_latest_hh = pandasql.sqldf('''
    SELECT DISTINCT household_key
    FROM Statusall
    WHERE (Status = 'New' AND TRANS_date_round = (SELECT MAX(TRANS_date_round) FROM Statusall))
        OR (Status = 'Repeat' AND TRANS_date_round = (SELECT MAX(TRANS_date_round) FROM Statusall))
        OR (Status = 'Reactivate' AND TRANS_date_round = (SELECT MAX(TRANS_date_round) FROM Statusall))
''')
Active_latest_hh

      household_key
0                 1
1                 3
2                 5
3                 6
4                 7
...             ...
1593           2494
1594           2497
1595           2498
1596           2499
1597           2500

[1598 rows x 1 columns]

In [ ]:
dim_is_status = pandasql.sqldf('''
    SELECT X.*,
          CASE WHEN Y.household_key IS NOT NULL THEN 1 ELSE 0 END AS Is_Active_latest
    FROM dim_is_status AS X
    LEFT JOIN Active_latest_hh AS Y
    ON X.household_key = Y.household_key
''')
dim_is_status

,household_key,Max_n_churn_btw_M,Is_churn,Is_reactive_from_churn_btw_month,Is_Churn_latest,Is_Active_latest
0,1,0,0,0,0,1
1,2,1,1,1,0,0
2,3,2,1,1,0,1
3,4,2,1,1,0,0
4,5,2,1,1,0,1
...,...,...,...,...,...,...
2495,2496,0,1,0,1,0
2496,2497,0,0,0,0,1
2497,2498,1,1,1,0,1
2498,2499,0,0,0,0,1
2499,2500,0,0,0,0,1

In [ ]:
Active_latestprev1month_hh = pandasql.sqldf('''
    SELECT DISTINCT household_key
    FROM Statusall
    WHERE (Status = 'New' AND DATE(TRANS_date_round) = (SELECT DATE(MAX(TRANS_date_round), '-1 month')  FROM Statusall))
        OR (Status = 'Repeat' AND DATE(TRANS_date_round) = (SELECT DATE(MAX(TRANS_date_round), '-1 month')  FROM Statusall))
        OR (Status = 'Reactivate' AND DATE(TRANS_date_round) = (SELECT DATE(MAX(TRANS_date_round), '-1 month')  FROM Statusall))
''')
Active_latestprev1month_hh

      household_key
0                 1
1                 3
2                 5
3                 6
4                 7
...             ...
2039           2496
2040           2497
2041           2498
2042           2499
2043           2500

[2044 rows x 1 columns]

In [ ]:
dim_is_status = pandasql.sqldf('''
    SELECT X.*,
          CASE WHEN Y.household_key IS NOT NULL THEN 1 ELSE 0 END AS Is_Active_latestprev1month
    FROM dim_is_status AS X
    LEFT JOIN Active_latestprev1month_hh AS Y
    ON X.household_key = Y.household_key
''')
dim_is_status

,household_key,Max_n_churn_btw_M,Is_churn,Is_reactive_from_churn_btw_month,Is_Churn_latest,Is_Active_latest,Is_Active_latestprev1month
0,1,0,0,0,0,1,1
1,2,1,1,1,0,0,0
2,3,2,1,1,0,1,1
3,4,2,1,1,0,0,0
4,5,2,1,1,0,1,1
...,...,...,...,...,...,...,...
2495,2496,0,1,0,1,0,1
2496,2497,0,0,0,0,1,1
2497,2498,1,1,1,0,1,1
2498,2499,0,0,0,0,1,1
2499,2500,0,0,0,0,1,1

In [ ]:
Churn_latestprev1month_hh = pandasql.sqldf('''
    SELECT DISTINCT household_key
    FROM Statusall
    WHERE (Status = 'Churn' AND DATE(TRANS_date_round) = (SELECT DATE(MAX(TRANS_date_round), '-1 month')  FROM Statusall))
''')
Churn_latestprev1month_hh

     household_key
0                2
1               62
2               73
3               74
4               76
..             ...
200           2420
201           2430
202           2454
203           2468
204           2495

[205 rows x 1 columns]

In [ ]:
dim_is_status = pandasql.sqldf('''
    SELECT X.*,
          CASE WHEN Y.household_key IS NOT NULL THEN 1 ELSE 0 END AS Is_Churn_latestprev1month
    FROM dim_is_status AS X
    LEFT JOIN Churn_latestprev1month_hh AS Y
    ON X.household_key = Y.household_key
''')
dim_is_status

,household_key,Max_n_churn_btw_M,Is_churn,Is_reactive_from_churn_btw_month,Is_Churn_latest,Is_Active_latest,Is_Active_latestprev1month,Is_Churn_latestprev1month
0,1,0,0,0,0,1,1,0
1,2,1,1,1,0,0,0,1
2,3,2,1,1,0,1,1,0
3,4,2,1,1,0,0,0,0
4,5,2,1,1,0,1,1,0
...,...,...,...,...,...,...,...,...
2495,2496,0,1,0,1,0,1,0
2496,2497,0,0,0,0,1,1,0
2497,2498,1,1,1,0,1,1,0
2498,2499,0,0,0,0,1,1,0
2499,2500,0,0,0,0,1,1,0

เอาพวกนี้มาสร้างเป็น filter 1 อัน โดยตั้ง condition

# Export result

In [ ]:
export_to_csv(path_folder,'06_fact_cust_status',Statusall)

06_fact_cust_status.csv has been exported successfully.

In [ ]:
export_to_csv(path_folder,'06_dim_is_status_filter',dim_is_status)

06_dim_is_status_filter.csv has been exported successfully.